
.scroll-container {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.Pixso-frame-2_1180,.Pixso-frame-2_1181,.frame-content-2_1181,.Pixso-frame-2_1227,.frame-content-2_1227,.Pixso-frame-2_1228,.frame-content-2_1228 {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.Pixso-frame-2_1180 {
  height: 844px;
  overflow: hidden;
  background-color: var(--color-bg-cream);
}

.frame-content-2_1181 {
  gap: 10px;
  padding: 8px 20px 8px 20px;
}

.Pixso-frame-2_1182,.Pixso-frame-2_1217,.Pixso-frame-2_1231,.frame-content-2_1182,.frame-content-2_1217,.Pixso-frame-2_1201,.frame-content-2_1201,.Pixso-frame-2_1222,.frame-content-2_1222 {
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.frame-content-2_1182,.frame-content-2_1217,.frame-content-2_1208 {
  gap: 8px;
  padding: 1px 0px 1px 0px;
}

.Pixso-frame-2_1183 {
  width: 30px;
  height: 30px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  background-color: var(--color-brand-skysoft);
}

.frame-content-2_1183,.frame-content-2_1210,.frame-content-2_1238 {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.Pixso-frame-2_1184 {
  width: 16px;
  height: 16px;
}

.Pixso-vector-2_1185,.Pixso-vector-2_1192,.Pixso-frame-2_1202,.Pixso-frame-2_1209,.Pixso-vector-2_1211,.Pixso-vector-2_1234,.Pixso-vector-2_1235,.Pixso-frame-2_1238,.Pixso-vector-2_1239 {
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.Pixso-vector-2_1185 {
  width: 41.67%;
  height: 83.34%;
  background-image: url(@/assets/images/Vector_2_1185.svg);
  position: absolute;
  left: 33.33%;
  right: 25%;
  top: 8.33%;
  bottom: 8.33%;
}

.Pixso-rectangle-2_1186 {
  width: 100%;
  height: 100%;
  border-radius: 1.333333px 1.333333px 1.333333px 1.333333px;
  z-index: 0;
}

.stroke-wrapper-2_1186 {
  position: absolute;
  isolation: isolate;
  left: 8.33%;
  top: 25%;
  right: 8.33%;
  bottom: 16.67%;
  width: 83.34%;
  height: 58.33%;
}

.stroke-2_1186,.stroke-2_1197,.stroke-2_1199,.stroke-2_1227,.stroke-2_1236 {
  pointer-events: none;
  border-style: solid;
  box-sizing: border-box;
}

.stroke-2_1186 {
  position: absolute;
  inset: -0.6666665px -0.6666665px -0.6666665px -0.6666665px;
  border-radius: 1.333333px 1.333333px 1.333333px 1.333333px;
  z-index: 1;
  border-width: 1.333333px 1.333333px 1.333333px 1.333333px;
  border-color: var(--color-brand-sky);
}

.Pixso-frame-2_1187,.frame-content-2_1187,.Pixso-frame-2_1216,.frame-content-2_1216 {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
}

.Pixso-frame-2_1187,.Pixso-frame-2_1190,.Pixso-frame-2_1205,.Pixso-frame-2_1216,.Pixso-frame-2_1232 {
  flex-shrink: 1;
  flex-basis: 0;
}

.Pixso-frame-2_1187 {
  flex-grow: 1;
}

.frame-content-2_1187 {
  gap: 2px;
  padding: 1px 0px 1px 0px;
}

.Pixso-paragraph-2_1188,.Pixso-paragraph-2_1189,.Pixso-paragraph-2_1196,.Pixso-paragraph-2_1200,.Pixso-paragraph-2_1206,.Pixso-paragraph-2_1207,.Pixso-paragraph-2_1219,.Pixso-paragraph-2_1220,.Pixso-paragraph-2_1221,.Pixso-paragraph-2_1226,.Pixso-paragraph-2_1229,.Pixso-paragraph-2_1230,.Pixso-paragraph-2_1237 {
  font-weight: 400;
  text-align: left;
  letter-spacing: 0px;
  text-decoration: none;
  flex-grow: 0;
}

.Pixso-paragraph-2_1188,.Pixso-paragraph-2_1189 {
  white-space: pre;
}

.Pixso-paragraph-2_1188 {
  font-size: 11px;
  font-family: "Noto Sans SC-Medium";
  color: var(--color-text-secondary);
}

.Pixso-paragraph-2_1189 {
  font-size: 15px;
  font-family: "Noto Sans SC-ExtraBold";
  color: var(--color-text-primary);
}

.Pixso-frame-2_1190 {
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-grow: 1;
}

.Pixso-frame-2_1191 {
  flex-direction: row;
  gap: 4px;
  align-items: center;
  padding: 6px 9px 6px 9px;
  border-radius: 12px 12px 12px 12px;
  background-color: var(--color-bg-input);
}

.Pixso-vector-2_1192,.Pixso-frame-2_1198 {
  width: 12px;
  height: 12px;
}

.Pixso-vector-2_1192 {
  background-image: url(@/assets/images/timer1.svg);
}

.Pixso-paragraph-2_1196 {
  font-size: 12px;
  font-family: "DM Sans-Bold";
  color: var(--color-text-primary);
  white-space: pre;
}

.Pixso-frame-2_1197 {
  width: 100%;
  height: 100%;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  padding: 7px 11px 7px 11px;
  border-radius: 14px 14px 14px 14px;
  z-index: 1;
  background-color: var(--color-bg-card);
}

.stroke-wrapper-2_1197 {
  isolation: isolate;
}

.stroke-2_1197 {
  position: absolute;
  inset: 0px;
  border-radius: 14px 14px 14px 14px;
  z-index: 0;
  border-width: 1.5px 1.5px 1.5px 1.5px;
  border-color: var(--color-brand-coral);
}

.Pixso-rectangle-2_1199 {
  width: 100%;
  height: 100%;
  border-radius: 1px 1px 1px 1px;
  z-index: 0;
}

.stroke-wrapper-2_1199 {
  position: absolute;
  isolation: isolate;
  left: 12.5%;
  top: 12.5%;
  right: 12.5%;
  bottom: 12.5%;
  width: 75%;
  height: 75%;
}

.stroke-2_1199 {
  position: absolute;
  inset: -0.5px -0.5px -0.5px -0.5px;
  border-radius: 1px 1px 1px 1px;
  z-index: 1;
  border-width: 1px 1px 1px 1px;
  border-color: var(--color-brand-coral);
}

.Pixso-paragraph-2_1200 {
  font-size: 12px;
  font-family: "Noto Sans SC-Bold";
  color: var(--color-brand-coral);
  white-space: pre;
}

.Pixso-frame-2_1201,.Pixso-frame-2_1202 {
  height: 6px;
  border-radius: 3px 3px 3px 3px;
}

.Pixso-frame-2_1201 {
  background-color: var(--color-bg-input);
}

.frame-content-2_1201 {
  height: 100%;
}

.Pixso-frame-2_1202 {
  width: 175px;
  background-image: linear-gradient(135deg, var(--color-brand-purple), var(--color-brand-purplelight));
  background-position: center;
}

.Pixso-frame-2_1203,.frame-content-2_1203,.Pixso-frame-2_1204,.frame-content-2_1204,.Pixso-frame-2_1205,.frame-content-2_1205 {
  width: 100%;
  align-items: flex-start;
}

.Pixso-frame-2_1203 {
  overflow: hidden;
  flex-direction: column;
  flex-grow: 1;
}

.frame-content-2_1203 {
  flex-direction: column;
  gap: 12px;
  padding: 8px 20px 16px 20px;
  height: 100%;
}

.Pixso-frame-2_1204,.frame-content-2_1204 {
  flex-direction: row;
  justify-content: flex-end;
}

.frame-content-2_1204 {
  padding: 1px 80px 1px 0px;
}

.Pixso-frame-2_1205 {
  flex-direction: column;
  min-width: 0;
  flex-grow: 1;
  border-radius: 18px 18px 4px 18px;
  background-color: var(--color-brand-purplesoft);
}

.frame-content-2_1205 {
  flex-direction: column;
  gap: 4px;
  min-width: 0;
  padding: 12px 14px 12px 14px;
}

.Pixso-paragraph-2_1206 {
  font-size: 14px;
  font-family: "Noto Sans SC-Regular";
  line-height: 164.999998%;
  color: var(--color-text-primary);
  width: 100%;
}

.Pixso-paragraph-2_1207 {
  font-size: 10px;
  font-family: "DM Sans-Medium";
  color: var(--color-text-placeholder);
  white-space: pre;
}

.Pixso-frame-2_1208,.frame-content-2_1208 {
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
}

.Pixso-frame-2_1209,.frame-content-2_1209,.Pixso-frame-2_1210 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Pixso-frame-2_1209 {
  width: 40px;
  height: 40px;
  border-radius: 20px 20px 20px 20px;
  background-image: linear-gradient(135deg, var(--color-brand-purple), var(--color-brand-purplelight));
  background-position: center;
}

.frame-content-2_1209 {
  padding: 2px 2px 2px 2px;
  width: 100%;
  height: 100%;
}

.Pixso-frame-2_1210 {
  width: 36px;
  height: 36px;
  border-radius: 18px 18px 18px 18px;
  background-color: var(--color-bg-card);
}

.Pixso-vector-2_1211,.Pixso-frame-2_1233 {
  width: 18px;
  height: 18px;
}

.Pixso-vector-2_1211 {
  background-image: url(@/assets/images/sparkles2.svg);
}

.Pixso-frame-2_1216 {
  flex-grow: 1;
  border-radius: 18px 18px 18px 4px;
  background-color: var(--color-bg-card);
}

.frame-content-2_1216 {
  gap: 8px;
  padding: 14px 16px 14px 16px;
}

.Pixso-frame-2_1218 {
  flex-direction: row;
  align-items: center;
  padding: 4px 9px 4px 9px;
  border-radius: 12px 12px 12px 12px;
  background-color: var(--color-brand-sky);
}

.Pixso-paragraph-2_1219 {
  font-size: 11px;
  font-family: "Noto Sans SC-Bold";
  color: rgba(255, 255, 255, 1);
  white-space: pre;
}

.Pixso-paragraph-2_1220 {
  font-size: 11px;
  font-family: "Noto Sans SC-Medium";
  color: var(--color-text-placeholder);
  white-space: pre;
}

.Pixso-paragraph-2_1221 {
  font-size: 14px;
  font-family: "Noto Sans SC-Regular";
  line-height: 169.999993%;
  color: var(--color-text-primary);
  width: 100%;
}

.Pixso-frame-2_1222 {
  border-radius: 14px 14px 14px 14px;
  background-color: var(--color-brand-skysoft);
}

.frame-content-2_1222 {
  gap: 8px;
  padding: 10px 12px 10px 12px;
}

.Pixso-frame-2_1223,.Pixso-frame-2_1224,.Pixso-frame-2_1225 {
  width: 8px;
  height: 8px;
  border-radius: 4px 4px 4px 4px;
}

.Pixso-frame-2_1223 {
  background-color: var(--color-brand-sky);
}

.Pixso-frame-2_1224 {
  background-color: var(--color-brand-mint);
}

.Pixso-frame-2_1225 {
  background-color: var(--color-brand-lemon);
}

.Pixso-paragraph-2_1226 {
  font-size: 12px;
  font-family: "Noto Sans SC-SemiBold";
  color: var(--color-brand-sky);
  white-space: pre;
}

.Pixso-frame-2_1227 {
  height: 100%;
  z-index: 1;
  background-color: var(--color-bg-cream);
}

.frame-content-2_1227 {
  gap: 10px;
  padding: 12px 20px 24px 20px;
}

.stroke-wrapper-2_1227 {
  isolation: isolate;
  width: 100%;
}

.stroke-2_1227 {
  position: absolute;
  inset: 0px;
  border-radius: 0px 0px 0px 0px;
  z-index: 0;
  border-width: 1px 0px 0px 0px;
  border-color: var(--color-border-base);
}

.Pixso-frame-2_1228 {
  border-radius: 18px 18px 18px 18px;
  background-color: var(--color-bg-input);
}

.frame-content-2_1228 {
  gap: 6px;
  padding: 12px 16px 12px 16px;
}

.Pixso-paragraph-2_1229,.Pixso-paragraph-2_1230 {
  font-family: "Noto Sans SC-Regular";
}

.Pixso-paragraph-2_1229 {
  font-size: 14px;
  line-height: 159.99999%;
  color: var(--color-text-primary);
  width: 100%;
}

.Pixso-paragraph-2_1230 {
  font-size: 12px;
  color: var(--color-text-placeholder);
  white-space: pre;
}

.frame-content-2_1231,.Pixso-frame-2_1232,.frame-content-2_1232 {
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.frame-content-2_1231 {
  gap: 10px;
  padding: 1px 0px 1px 0px;
}

.Pixso-frame-2_1232 {
  height: 48px;
  justify-content: center;
  min-width: 0;
  flex-grow: 1;
  border-radius: 14px 14px 14px 14px;
  background-color: var(--color-brand-skysoft);
}

.frame-content-2_1232 {
  gap: 8px;
  justify-content: center;
  min-width: 0;
  height: 100%;
}

.Pixso-vector-2_1234,.Pixso-vector-2_1235 {
  position: absolute;
}

.Pixso-vector-2_1234 {
  width: 8.33%;
  height: 20.83%;
  background-image: url(@/assets/images/Vector_2_1234.svg);
  left: 50%;
  right: 41.67%;
  top: 79.17%;
  bottom: 0%;
}

.Pixso-vector-2_1235 {
  width: 66.67%;
  height: 45.87%;
  background-image: url(@/assets/images/Vector_2_1235.svg);
  left: 20.83%;
  right: 12.5%;
  top: 41.67%;
  bottom: 12.46%;
}

.Pixso-rectangle-2_1236 {
  width: 100%;
  height: 100%;
  border-radius: 2.25px 2.25px 2.25px 2.25px;
  z-index: 0;
}

.stroke-wrapper-2_1236 {
  position: absolute;
  isolation: isolate;
  left: 37.5%;
  top: 8.33%;
  right: 37.5%;
  bottom: 37.5%;
  width: 25%;
  height: 54.17%;
}

.stroke-2_1236 {
  position: absolute;
  inset: -0.75px -0.75px -0.75px -0.75px;
  border-radius: 2.25px 2.25px 2.25px 2.25px;
  z-index: 1;
  border-width: 1.5px 1.5px 1.5px 1.5px;
  border-color: var(--color-brand-sky);
}

.Pixso-paragraph-2_1237 {
  font-size: 14px;
  font-family: "Noto Sans SC-Bold";
  color: var(--color-brand-sky);
  white-space: pre;
}

.Pixso-frame-2_1238 {
  width: 48px;
  height: 48px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 24px 24px 24px 24px;
  background-image: linear-gradient(135deg, var(--color-brand-purple), var(--color-brand-purplelight));
  background-position: center;
}

.Pixso-vector-2_1239 {
  width: 20px;
  height: 20px;
  background-image: url(@/assets/images/arrowup1.svg);
}
