
.scroll-container {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.Pixso-frame-2_341 {
  width: 100%;
  height: 844px;
  overflow: hidden;
  flex-direction: column;
  isolation: isolate;
  align-items: flex-start;
  background-color: var(--color-bg-cream);
}

.Pixso-frame-2_342,.Pixso-frame-2_343 {
  position: absolute;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.Pixso-frame-2_342 {
  width: 210px;
  height: 210px;
  z-index: 1;
  left: -70px;
  top: 10px;
  border-radius: 105px 105px 105px 105px;
  background-image: linear-gradient(135deg, var(--color-brand-purple), var(--color-brand-purplelight));
  opacity: 0.32;
}

.Pixso-frame-2_343 {
  width: 150px;
  height: 150px;
  z-index: 2;
  left: 255px;
  top: 54px;
  border-radius: 75px 75px 75px 75px;
  background-image: linear-gradient(135deg, var(--color-brand-purple), var(--color-brand-purplelight));
  opacity: 0.28;
}

.Pixso-frame-2_345,.frame-content-2_345 {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Pixso-frame-2_345 {
  height: 62px;
  z-index: 3;
}

.frame-content-2_345 {
  padding: 0px 24px 0px 24px;
  height: 100%;
}

.Pixso-paragraph-2_346,.Pixso-paragraph-2_374,.Pixso-paragraph-2_379 {
  font-size: 15px;
  font-family: "DM Sans-Medium";
}

.Pixso-paragraph-2_346,.Pixso-paragraph-2_374,.Pixso-paragraph-2_367,.Pixso-paragraph-2_368,.Pixso-paragraph-2_379,.Pixso-paragraph-2_386,.Pixso-paragraph-2_392,.Pixso-paragraph-2_390,.Pixso-paragraph-2_393 {
  font-weight: 400;
  text-align: left;
  letter-spacing: 0px;
  text-decoration: none;
}

.Pixso-paragraph-2_346,.Pixso-paragraph-2_374,.Pixso-paragraph-2_367,.Pixso-paragraph-2_368,.Pixso-paragraph-2_386,.Pixso-paragraph-2_392,.Pixso-paragraph-2_390,.Pixso-paragraph-2_393 {
  white-space: pre;
  flex-grow: 0;
}

.Pixso-paragraph-2_346,.Pixso-paragraph-2_374 {
  color: var(--color-text-primary);
}

.Pixso-frame-2_347 {
  flex-direction: row;
  gap: 6px;
  align-items: center;
  padding: 1px 1px 1px 1px;
}

.Pixso-vector-2_348,.Pixso-vector-2_354 {
  width: 16px;
  height: 16px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.Pixso-vector-2_348 {
  background-image: url(@/assets/images/signal3.svg);
}

.Pixso-vector-2_354 {
  background-image: url(@/assets/images/wifi3.svg);
}

.Pixso-frame-2_359,.Pixso-frame-2_376,.Pixso-vector-2_371,.Pixso-vector-2_380 {
  width: 18px;
  height: 18px;
}

.Pixso-vector-2_360,.Pixso-vector-2_361,.Pixso-vector-2_362,.Pixso-vector-2_363 {
  height: 25%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 41.67%;
  bottom: 33.33%;
}

.Pixso-vector-2_360 {
  width: 8.33%;
  background-image: url(@/assets/images/Vector_2_360.svg);
  left: 41.67%;
  right: 50%;
}

.Pixso-vector-2_361 {
  width: 8.34%;
  background-image: url(@/assets/images/Vector_2_361.svg);
  left: 58.33%;
  right: 33.33%;
}

.Pixso-vector-2_362 {
  width: 8.33%;
  background-image: url(@/assets/images/Vector_2_362.svg);
  left: 91.67%;
  right: 0%;
}

.Pixso-vector-2_363 {
  width: 8.33%;
  background-image: url(@/assets/images/Vector_2_363.svg);
  left: 25%;
  right: 66.67%;
}

.Pixso-rectangle-2_364,.Pixso-rectangle-2_377 {
  width: 100%;
  height: 100%;
  border-radius: 1.5px 1.5px 1.5px 1.5px;
  z-index: 0;
}

.stroke-wrapper-2_364 {
  position: absolute;
  isolation: isolate;
  left: 8.33%;
  top: 25%;
  right: 25%;
  bottom: 25%;
  width: 66.67%;
  height: 50%;
}

.stroke-2_364,.stroke-2_377 {
  inset: -0.75px -0.75px -0.75px -0.75px;
  border-width: 1.5px 1.5px 1.5px 1.5px;
}

.stroke-2_364,.stroke-2_375,.stroke-2_377 {
  pointer-events: none;
  border-style: solid;
  box-sizing: border-box;
}

.stroke-2_364 {
  position: absolute;
  border-radius: 1.5px 1.5px 1.5px 1.5px;
  z-index: 1;
  border-color: var(--color-text-primary);
}

.Pixso-frame-2_365,.frame-content-2_365 {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.Pixso-frame-2_365 {
  width: 390px;
  height: 782px;
  z-index: 4;
}

.frame-content-2_365 {
  gap: 24px;
  padding: 16px 28px 32px 28px;
  width: 100%;
  height: 100%;
}

.Pixso-frame-2_366,.frame-content-2_366 {
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.frame-content-2_366 {
  gap: 12px;
  padding: 0px 0px 10px 0px;
}

.Pixso-rectangle-2_1659 {
  width: 83px;
  height: 83px;
  background-image: url(@/assets/images/9fd906c2d28a624d7c02c25d912ab5f5b0da5b39.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.Pixso-paragraph-2_367 {
  font-size: 44px;
  font-family: "Noto Sans SC-ExtraBold";
  color: var(--color-text-primary);
}

.Pixso-paragraph-2_368,.Pixso-paragraph-2_386,.Pixso-paragraph-2_392 {
  font-family: "Noto Sans SC-Regular";
  color: var(--color-text-secondary);
}

.Pixso-paragraph-2_368 {
  font-size: 14px;
}

.Pixso-frame-2_369,.frame-content-2_369 {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.frame-content-2_369 {
  gap: 12px;
  padding: 1px 0px 1px 0px;
}

.Pixso-frame-2_370 {
  width: 100%;
  height: 52px;
  flex-direction: row;
  align-items: center;
  border-radius: 16px 16px 16px 16px;
  background-color: var(--color-bg-input);
}

.frame-content-2_370,.frame-content-2_375 {
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding: 0px 16px 0px 16px;
  width: 100%;
  height: 100%;
}

.Pixso-vector-2_371 {
  background-image: url(@/assets/images/user3.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.Pixso-frame-2_375 {
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: center;
  border-radius: 16px 16px 16px 16px;
  z-index: 0;
  background-color: var(--color-bg-card);
}

.stroke-wrapper-2_375 {
  isolation: isolate;
  width: 100%;
  height: 52px;
}

.stroke-2_375 {
  position: absolute;
  inset: 0px;
  border-radius: 16px 16px 16px 16px;
  z-index: 1;
  border-width: 2px 2px 2px 2px;
  border-color: var(--color-brand-purple);
}

.stroke-wrapper-2_377 {
  position: absolute;
  isolation: isolate;
  left: 12.5%;
  top: 45.83%;
  right: 12.5%;
  bottom: 8.33%;
  width: 75%;
  height: 45.84%;
}

.stroke-2_377 {
  position: absolute;
  border-radius: 1.5px 1.5px 1.5px 1.5px;
  z-index: 1;
  border-color: var(--color-brand-purple);
}

.Pixso-vector-2_378 {
  width: 50%;
  height: 45.87%;
  background-image: url(@/assets/images/Vector_2_378.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 29.17%;
  right: 20.83%;
  top: 8.33%;
  bottom: 45.8%;
}

.Pixso-paragraph-2_379 {
  font-feature-settings: "locl" 0;
  color: var(--color-text-primary);
  width: 100%;
  flex-shrink: 1;
  min-width: 0;
  flex-grow: 1;
  flex-basis: 0;
}

.Pixso-vector-2_380 {
  background-image: url(@/assets/images/eyeoff.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.Pixso-frame-2_375-content-layer {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.Pixso-frame-2_385,.frame-content-2_385 {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.frame-content-2_385 {
  padding: 1px 0px 1px 0px;
}

.Pixso-paragraph-2_386,.Pixso-paragraph-2_392 {
  font-size: 13px;
}

.Pixso-frame-2_387,.frame-content-2_387 {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.Pixso-frame-2_387 {
  width: 46px;
  height: 28px;
  border-radius: 14px 14px 14px 14px;
  background-color: var(--color-brand-purple);
}

.frame-content-2_387 {
  padding: 3px 3px 3px 3px;
  width: 100%;
  height: 100%;
}

.Pixso-frame-2_388 {
  width: 22px;
  height: 22px;
  border-radius: 11px 11px 11px 11px;
  background-color: var(--color-bg-card);
}

.Pixso-frame-2_389,.frame-content-2_389,.Pixso-frame-2_391,.frame-content-2_391 {
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Pixso-frame-2_389 {
  height: 52px;
  border-radius: 16px 16px 16px 16px;
  background-image: linear-gradient(135deg, var(--color-brand-purple), var(--color-brand-purplelight));
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.frame-content-2_389 {
  gap: 8px;
  height: 100%;
}

.Pixso-paragraph-2_390 {
  font-size: 16px;
  font-family: "Noto Sans SC-Bold";
  color: rgba(255, 255, 255, 1);
}

.frame-content-2_391 {
  gap: 4px;
  padding: 1px 0px 1px 0px;
}

.Pixso-paragraph-2_393 {
  font-size: 13px;
  font-family: "Noto Sans SC-Bold";
  color: var(--color-brand-purple);
}
