
.scroll-container {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.Pixso-frame-2_1242 {
  width: 100%;
  height: 844px;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--color-bg-cream);
}

.Pixso-frame-2_1243,.frame-content-2_1243,.Pixso-frame-2_1264,.Pixso-frame-2_1282,.Pixso-frame-2_1297,.Pixso-frame-2_1310,.Pixso-frame-2_1320,.Pixso-frame-2_1335,.frame-content-2_1264,.frame-content-2_1282,.frame-content-2_1297,.frame-content-2_1310 {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Pixso-frame-2_1243 {
  height: 62px;
}

.frame-content-2_1243 {
  padding: 0px 20px 0px 20px;
  height: 100%;
}

.Pixso-paragraph-2_1244,.Pixso-paragraph-2_1265,.Pixso-paragraph-2_1266,.Pixso-paragraph-2_1337,.Pixso-paragraph-2_1348,.Pixso-paragraph-2_1361,.Pixso-paragraph-2_1271,.Pixso-paragraph-2_1274,.Pixso-paragraph-2_1328,.Pixso-paragraph-2_1334,.Pixso-paragraph-2_1276,.Pixso-paragraph-2_1278,.Pixso-paragraph-2_1280,.Pixso-paragraph-2_1295,.Pixso-paragraph-2_1308,.Pixso-paragraph-2_1325,.Pixso-paragraph-2_1331,.Pixso-paragraph-2_1281,.Pixso-paragraph-2_1296,.Pixso-paragraph-2_1309,.Pixso-paragraph-2_1285,.Pixso-paragraph-2_1287,.Pixso-paragraph-2_1315,.Pixso-paragraph-2_1289,.Pixso-paragraph-2_1302,.Pixso-paragraph-2_1291,.Pixso-paragraph-2_1304,.Pixso-paragraph-2_1317,.Pixso-paragraph-2_1300,.Pixso-paragraph-2_1313,.Pixso-paragraph-2_1321,.Pixso-paragraph-2_1336,.Pixso-paragraph-2_1322,.Pixso-paragraph-2_1326,.Pixso-paragraph-2_1332,.Pixso-paragraph-2_1347,.Pixso-paragraph-2_1360,.Pixso-paragraph-2_1350,.Pixso-paragraph-2_1363,.Pixso-paragraph-2_1369,.Pixso-paragraph-2_1377,.Pixso-paragraph-2_1383,.Pixso-paragraph-2_1389,.Pixso-paragraph-2_1402,.Pixso-paragraph-2_1396 {
  font-weight: 400;
  text-align: left;
  letter-spacing: 0px;
  text-decoration: none;
}

.Pixso-paragraph-2_1244 {
  font-size: 15px;
  font-family: "DM Sans-Medium";
  color: var(--color-text-primary);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-frame-2_1245,.Pixso-frame-2_1283,.Pixso-frame-2_1298,.Pixso-frame-2_1311 {
  flex-direction: row;
  gap: 6px;
  align-items: center;
  padding: 1px 1px 1px 1px;
}

.Pixso-vector-2_1246,.Pixso-vector-2_1252,.Pixso-vector-2_1365 {
  width: 16px;
  height: 16px;
}

.Pixso-vector-2_1246,.Pixso-vector-2_1252,.Pixso-vector-2_1258,.Pixso-vector-2_1259,.Pixso-vector-2_1260,.Pixso-vector-2_1261,.Pixso-vector-2_1268,.Pixso-vector-2_1292,.Pixso-vector-2_1305,.Pixso-vector-2_1318,.Pixso-vector-2_1340,.Pixso-vector-2_1353,.Pixso-vector-2_1365,.Pixso-vector-2_1374,.Pixso-vector-2_1380,.Pixso-vector-2_1387,.Pixso-vector-2_1392,.Pixso-vector-2_1399 {
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.Pixso-vector-2_1246 {
  background-image: url(@/assets/images/signal0.svg);
}

.Pixso-vector-2_1252 {
  background-image: url(@/assets/images/wifi0.svg);
}

.Pixso-frame-2_1257 {
  width: 18px;
  height: 18px;
}

.Pixso-vector-2_1258,.Pixso-vector-2_1259,.Pixso-vector-2_1260,.Pixso-vector-2_1261 {
  height: 25%;
  position: absolute;
  top: 41.67%;
  bottom: 33.33%;
}

.Pixso-vector-2_1258 {
  width: 8.33%;
  background-image: url(@/assets/images/Vector_2_1258.svg);
  left: 41.67%;
  right: 50%;
}

.Pixso-vector-2_1259 {
  width: 8.34%;
  background-image: url(@/assets/images/Vector_2_1259.svg);
  left: 58.33%;
  right: 33.33%;
}

.Pixso-vector-2_1260 {
  width: 8.33%;
  background-image: url(@/assets/images/Vector_2_1260.svg);
  left: 91.67%;
  right: 0%;
}

.Pixso-vector-2_1261 {
  width: 8.33%;
  background-image: url(@/assets/images/Vector_2_1261.svg);
  left: 25%;
  right: 66.67%;
}

.Pixso-rectangle-2_1262 {
  width: 100%;
  height: 100%;
  border-radius: 1.5px 1.5px 1.5px 1.5px;
  z-index: 0;
}

.stroke-wrapper-2_1262 {
  position: absolute;
  isolation: isolate;
  left: 8.33%;
  top: 25%;
  right: 25%;
  bottom: 25%;
  width: 66.67%;
  height: 50%;
}

.stroke-2_1262,.stroke-2_1275,.stroke-2_1277,.stroke-2_1364,.stroke-2_1371,.stroke-2_1388 {
  pointer-events: none;
  border-style: solid;
  box-sizing: border-box;
}

.stroke-2_1262 {
  position: absolute;
  inset: -0.75px -0.75px -0.75px -0.75px;
  border-radius: 1.5px 1.5px 1.5px 1.5px;
  z-index: 1;
  border-width: 1.5px 1.5px 1.5px 1.5px;
  border-color: var(--color-text-primary);
}

.Pixso-frame-2_1263,.frame-content-2_1263 {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.Pixso-frame-2_1263 {
  overflow: hidden;
  flex-grow: 1;
}

.frame-content-2_1263 {
  gap: 13px;
  padding: 6px 20px 20px 20px;
  height: 100%;
}

.frame-content-2_1264,.frame-content-2_1282,.frame-content-2_1297,.frame-content-2_1310 {
  padding: 1px 0px 1px 0px;
}

.Pixso-paragraph-2_1265 {
  font-size: var(--font-h1);
  font-family: "Noto Sans SC-ExtraBold";
  color: var(--color-text-primary);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-paragraph-2_1266,.Pixso-paragraph-2_1337,.Pixso-paragraph-2_1348,.Pixso-paragraph-2_1361 {
  font-size: 12px;
  font-family: "Noto Sans SC-Regular";
  color: var(--color-text-secondary);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-frame-2_1267,.frame-content-2_1267,.Pixso-frame-2_1272,.frame-content-2_1272 {
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.Pixso-frame-2_1267 {
  height: 48px;
  border-radius: 16px 16px 16px 16px;
  background-color: var(--color-bg-input);
}

.frame-content-2_1267 {
  gap: 9px;
  padding: 0px 14px 0px 14px;
  height: 100%;
}

.Pixso-vector-2_1268,.Pixso-vector-2_1340,.Pixso-vector-2_1353 {
  width: 17px;
  height: 17px;
}

.Pixso-vector-2_1268 {
  background-image: url(@/assets/images/search.svg);
}

.Pixso-paragraph-2_1271,.Pixso-frame-2_1324,.Pixso-frame-2_1330,.Pixso-frame-2_1346,.Pixso-frame-2_1359,.Pixso-frame-2_1372,.Pixso-frame-2_1378,.Pixso-frame-2_1384,.Pixso-frame-2_1397,.Pixso-frame-2_1390 {
  flex-shrink: 1;
  flex-basis: 0;
}

.Pixso-paragraph-2_1271 {
  font-size: 14px;
  font-family: "Noto Sans SC-Regular";
  font-feature-settings: "locl" 0;
  color: var(--color-text-placeholder);
  width: 100%;
  min-width: 0;
  flex-grow: 1;
}

.frame-content-2_1272 {
  gap: 8px;
  padding: 1px 0px 1px 0px;
}

.Pixso-frame-2_1273 {
  flex-direction: row;
  gap: 5px;
  align-items: center;
  padding: 8px 14px 8px 14px;
  border-radius: 18px 18px 18px 18px;
  background-color: var(--color-brand-purple);
}

.Pixso-paragraph-2_1274,.Pixso-paragraph-2_1328,.Pixso-paragraph-2_1334 {
  font-size: 13px;
  font-family: "Noto Sans SC-Bold";
  color: rgba(255, 255, 255, 1);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-frame-2_1275,.Pixso-frame-2_1277 {
  width: 100%;
  height: 100%;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  padding: 8px 13px 8px 13px;
  border-radius: 18px 18px 18px 18px;
  z-index: 1;
  background-color: var(--color-bg-card);
}

.stroke-wrapper-2_1275,.stroke-wrapper-2_1277 {
  isolation: isolate;
}

.stroke-2_1275,.stroke-2_1277,.stroke-2_1371 {
  border-width: 1px 1px 1px 1px;
  border-color: var(--color-border-base);
}

.stroke-2_1275,.stroke-2_1277 {
  position: absolute;
  inset: 0px;
  border-radius: 18px 18px 18px 18px;
  z-index: 0;
}

.Pixso-paragraph-2_1276,.Pixso-paragraph-2_1278 {
  font-size: 13px;
  font-family: "Noto Sans SC-SemiBold";
  color: var(--color-text-secondary);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-frame-2_1279,.Pixso-frame-2_1294,.Pixso-frame-2_1307 {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px 20px 20px 20px;
  background-color: var(--color-bg-card);
}

.frame-content-2_1279,.frame-content-2_1294,.frame-content-2_1307 {
  flex-direction: column;
  gap: 9px;
  align-items: flex-start;
  padding: 16px 16px 16px 16px;
  width: 100%;
}

.Pixso-paragraph-2_1280,.Pixso-paragraph-2_1295,.Pixso-paragraph-2_1308,.Pixso-paragraph-2_1325,.Pixso-paragraph-2_1331 {
  font-size: 15px;
  font-family: "Noto Sans SC-Bold";
  font-feature-settings: "locl" 0;
  color: var(--color-text-primary);
  width: 100%;
  flex-grow: 0;
}

.Pixso-paragraph-2_1281,.Pixso-paragraph-2_1296,.Pixso-paragraph-2_1309 {
  font-size: 13px;
  font-family: "Noto Sans SC-Regular";
  line-height: 159.99999%;
  color: var(--color-text-secondary);
  width: 100%;
  flex-grow: 0;
}

.Pixso-frame-2_1284,.Pixso-frame-2_1286,.Pixso-frame-2_1314,.Pixso-frame-2_1288,.Pixso-frame-2_1301,.Pixso-frame-2_1299,.Pixso-frame-2_1312 {
  padding: 4px 9px 4px 9px;
  border-radius: 11px 11px 11px 11px;
}

.Pixso-frame-2_1284 {
  flex-direction: row;
  align-items: center;
  background-color: var(--color-brand-mintsoft);
}

.Pixso-paragraph-2_1285 {
  font-size: 11px;
  font-family: "DM Sans-Bold";
  color: var(--color-brand-mint);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-frame-2_1286,.Pixso-frame-2_1314 {
  flex-direction: row;
  align-items: center;
  background-color: var(--color-brand-lemonsoft);
}

.Pixso-paragraph-2_1287,.Pixso-paragraph-2_1315 {
  font-size: 11px;
  font-family: "Noto Sans SC-Bold";
  color: var(--color-brand-lemon);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-frame-2_1288,.Pixso-frame-2_1301 {
  flex-direction: row;
  align-items: center;
  background-color: var(--color-brand-purplesoft);
}

.Pixso-paragraph-2_1289,.Pixso-paragraph-2_1302 {
  font-size: 11px;
  font-family: "Noto Sans SC-Bold";
  color: var(--color-brand-purple);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-frame-2_1290,.Pixso-frame-2_1303,.Pixso-frame-2_1316 {
  flex-direction: row;
  gap: 4px;
  align-items: center;
  padding: 1px 1px 1px 1px;
}

.Pixso-paragraph-2_1291,.Pixso-paragraph-2_1304,.Pixso-paragraph-2_1317 {
  font-size: 11px;
  font-family: "Noto Sans SC-SemiBold";
  color: var(--color-brand-purple);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-vector-2_1292,.Pixso-vector-2_1305,.Pixso-vector-2_1318 {
  width: 14px;
  height: 14px;
}

.Pixso-vector-2_1292 {
  background-image: url(@/assets/images/chevronright3.svg);
}

.Pixso-frame-2_1299 {
  flex-direction: row;
  align-items: center;
  background-color: var(--color-brand-coralsoft);
}

.Pixso-paragraph-2_1300 {
  font-size: 11px;
  font-family: "Noto Sans SC-Bold";
  color: var(--color-brand-coral);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-vector-2_1305 {
  background-image: url(@/assets/images/chevronright4.svg);
}

.Pixso-frame-2_1312 {
  flex-direction: row;
  align-items: center;
  background-color: var(--color-brand-skysoft);
}

.Pixso-paragraph-2_1313 {
  font-size: 11px;
  font-family: "DM Sans-Bold";
  color: var(--color-brand-sky);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-vector-2_1318 {
  background-image: url(@/assets/images/chevronright5.svg);
}

.frame-content-2_1320,.frame-content-2_1335 {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 6px 0px 0px 0px;
  width: 100%;
}

.Pixso-paragraph-2_1321,.Pixso-paragraph-2_1336,.Pixso-paragraph-2_1322 {
  font-family: "Noto Sans SC-Bold";
  white-space: pre;
  flex-grow: 0;
}

.Pixso-paragraph-2_1321,.Pixso-paragraph-2_1336 {
  font-size: var(--font-h2);
  color: var(--color-text-primary);
}

.Pixso-paragraph-2_1322 {
  font-size: 12px;
  color: var(--color-brand-coral);
}

.Pixso-frame-2_1323,.Pixso-frame-2_1329,.frame-content-2_1323,.frame-content-2_1329 {
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.Pixso-frame-2_1323,.Pixso-frame-2_1329 {
  border-radius: 20px 20px 20px 20px;
  background-color: var(--color-bg-card);
}

.frame-content-2_1323,.frame-content-2_1329 {
  gap: 10px;
  padding: 16px 16px 16px 16px;
}

.Pixso-frame-2_1324,.Pixso-frame-2_1330,.Pixso-frame-2_1346,.Pixso-frame-2_1359 {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  flex-grow: 1;
}

.frame-content-2_1324,.frame-content-2_1330 {
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  min-width: 0;
  padding: 1px 0px 1px 0px;
  width: 100%;
}

.Pixso-paragraph-2_1326 {
  font-size: 12px;
  font-family: "Noto Sans SC-Medium";
  color: var(--color-brand-coral);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-frame-2_1327,.Pixso-frame-2_1333 {
  flex-direction: row;
  gap: 5px;
  align-items: center;
  padding: 8px 14px 8px 14px;
  border-radius: 13px 13px 13px 13px;
  background-color: var(--color-brand-mint);
}

.Pixso-paragraph-2_1332 {
  font-size: 12px;
  font-family: "Noto Sans SC-Medium";
  color: var(--color-brand-lemon);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-frame-2_1338,.Pixso-frame-2_1351 {
  width: 100%;
  flex-direction: row;
  align-items: center;
  border-radius: 20px 20px 20px 20px;
  background-color: var(--color-bg-card);
}

.frame-content-2_1338,.frame-content-2_1351 {
  flex-direction: row;
  gap: 11px;
  align-items: center;
  padding: 16px 16px 16px 16px;
  width: 100%;
}

.Pixso-frame-2_1339,.frame-content-2_1339,.frame-content-2_1352 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Pixso-frame-2_1339,.Pixso-frame-2_1352 {
  width: 38px;
  height: 38px;
}

.Pixso-frame-2_1339 {
  border-radius: 13px 13px 13px 13px;
  background-color: var(--color-brand-purplesoft);
}

.frame-content-2_1339,.frame-content-2_1352 {
  width: 100%;
  height: 100%;
}

.Pixso-vector-2_1340 {
  background-image: url(@/assets/images/filetext.svg);
}

.frame-content-2_1346,.frame-content-2_1359 {
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  min-width: 0;
  padding: 1px 0px 1px 0px;
  width: 100%;
}

.Pixso-paragraph-2_1347,.Pixso-paragraph-2_1360 {
  font-size: 14px;
  font-family: "Noto Sans SC-Bold";
  font-feature-settings: "locl" 0;
  color: var(--color-text-primary);
  width: 100%;
  flex-grow: 0;
}

.Pixso-frame-2_1349,.Pixso-frame-2_1362 {
  flex-direction: row;
  gap: 4px;
  align-items: center;
  padding: 5px 10px 5px 10px;
  border-radius: 12px 12px 12px 12px;
  background-color: var(--color-brand-mintsoft);
}

.Pixso-paragraph-2_1350,.Pixso-paragraph-2_1363 {
  font-size: 11px;
  font-family: "Noto Sans SC-Bold";
  color: var(--color-brand-mint);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-frame-2_1352 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 13px 13px 13px 13px;
  background-color: var(--color-brand-mintsoft);
}

.Pixso-vector-2_1353 {
  background-image: url(@/assets/images/filetext0.svg);
}

.Pixso-frame-2_1364,.frame-content-2_1364 {
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Pixso-frame-2_1364 {
  border-radius: 14px 14px 14px 14px;
  z-index: 0;
  background-color: var(--color-brand-purplesoft);
}

.frame-content-2_1364 {
  gap: 7px;
}

.stroke-wrapper-2_1364 {
  isolation: isolate;
  width: 100%;
  height: 48px;
}

.stroke-2_1364 {
  position: absolute;
  inset: 0px;
  border-radius: 14px 14px 14px 14px;
  z-index: 1;
  border-width: 1.5px 1.5px 1.5px 1.5px;
  border-color: var(--color-brand-purple);
}

.Pixso-vector-2_1365 {
  background-image: url(@/assets/images/upload.svg);
}

.Pixso-paragraph-2_1369 {
  font-size: 14px;
  font-family: "Noto Sans SC-Bold";
  color: var(--color-brand-purple);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-frame-2_1364-content-layer {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.Pixso-frame-2_1370,.frame-content-2_1370 {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.frame-content-2_1370 {
  padding: 12px 21px 21px 21px;
}

.Pixso-frame-2_1371,.frame-content-2_1371 {
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: center;
}

.Pixso-frame-2_1371 {
  border-radius: 36px 36px 36px 36px;
  z-index: 0;
  background-color: var(--color-bg-card);
}

.frame-content-2_1371 {
  padding: 4px 4px 4px 4px;
}

.stroke-wrapper-2_1371 {
  isolation: isolate;
  width: 100%;
  height: 62px;
}

.stroke-2_1371 {
  position: absolute;
  inset: 0px;
  border-radius: 36px 36px 36px 36px;
  z-index: 1;
}

.Pixso-frame-2_1372,.Pixso-frame-2_1378,.Pixso-frame-2_1384,.Pixso-frame-2_1397,.Pixso-frame-2_1390 {
  height: 54px;
  align-self: stretch;
  border-radius: 26px 26px 26px 26px;
}

.Pixso-frame-2_1372,.Pixso-frame-2_1378,.Pixso-frame-2_1384,.Pixso-frame-2_1397 {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  flex-grow: 1;
}

.frame-content-2_1372,.frame-content-2_1378,.frame-content-2_1384,.frame-content-2_1390,.frame-content-2_1397 {
  flex-direction: column;
  gap: 3px;
  align-items: center;
  justify-content: center;
  min-width: 0;
  width: 100%;
  height: 100%;
}

.Pixso-frame-2_1373,.Pixso-frame-2_1379,.Pixso-frame-2_1385,.Pixso-frame-2_1391,.Pixso-frame-2_1398 {
  width: 26px;
  height: 26px;
  border-radius: 9px 9px 9px 9px;
}

.Pixso-frame-2_1373 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--color-brand-purplesoft);
}

.frame-content-2_1373,.frame-content-2_1379,.frame-content-2_1385,.frame-content-2_1391,.frame-content-2_1398 {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.Pixso-vector-2_1374,.Pixso-vector-2_1380,.Pixso-frame-2_1386,.Pixso-vector-2_1392,.Pixso-vector-2_1399 {
  width: 16px;
  height: 16px;
}

.Pixso-vector-2_1374 {
  background-image: url(@/assets/images/home0.svg);
}

.Pixso-paragraph-2_1377,.Pixso-paragraph-2_1383,.Pixso-paragraph-2_1389,.Pixso-paragraph-2_1402 {
  font-size: 10px;
  font-family: "Noto Sans SC-SemiBold";
  color: var(--color-text-secondary);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-frame-2_1379 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--color-brand-mintsoft);
}

.Pixso-vector-2_1380 {
  background-image: url(@/assets/images/bookopen0.svg);
}

.Pixso-frame-2_1385 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--color-brand-skysoft);
}

.Pixso-vector-2_1387 {
  width: 41.67%;
  height: 83.34%;
  background-image: url(@/assets/images/Vector_2_1387.svg);
  position: absolute;
  left: 33.33%;
  right: 25%;
  top: 8.33%;
  bottom: 8.33%;
}

.Pixso-rectangle-2_1388 {
  width: 100%;
  height: 100%;
  border-radius: 1.333333px 1.333333px 1.333333px 1.333333px;
  z-index: 0;
}

.stroke-wrapper-2_1388 {
  position: absolute;
  isolation: isolate;
  left: 8.33%;
  top: 25%;
  right: 8.33%;
  bottom: 16.67%;
  width: 83.34%;
  height: 58.33%;
}

.stroke-2_1388 {
  position: absolute;
  inset: -0.6666665px -0.6666665px -0.6666665px -0.6666665px;
  border-radius: 1.333333px 1.333333px 1.333333px 1.333333px;
  z-index: 1;
  border-width: 1.333333px 1.333333px 1.333333px 1.333333px;
  border-color: var(--color-brand-sky);
}

.Pixso-frame-2_1390,.Pixso-frame-2_1391 {
  justify-content: center;
  align-items: center;
}

.Pixso-frame-2_1390 {
  width: 100%;
  flex-direction: column;
  min-width: 0;
  flex-grow: 1;
  background-color: var(--color-brand-purple);
}

.Pixso-frame-2_1391 {
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.180392);
}

.Pixso-vector-2_1392 {
  background-image: url(@/assets/images/layers0.svg);
}

.Pixso-paragraph-2_1396 {
  font-size: 10px;
  font-family: "Noto Sans SC-Bold";
  color: rgba(255, 255, 255, 1);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-frame-2_1398 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--color-brand-coralsoft);
}

.Pixso-vector-2_1399 {
  background-image: url(@/assets/images/user0.svg);
}

.Pixso-frame-2_1371-content-layer {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
