
.scroll-container {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.Pixso-frame-2_1051 {
  width: 100%;
  height: 844px;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--color-bg-cream);
}

.Pixso-frame-2_1052,.frame-content-2_1052,.Pixso-frame-2_1073,.Pixso-frame-2_1117,.frame-content-2_1073 {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Pixso-frame-2_1052 {
  height: 62px;
}

.frame-content-2_1052 {
  padding: 0px 20px 0px 20px;
  height: 100%;
}

.Pixso-paragraph-2_1053,.Pixso-paragraph-2_1074,.Pixso-paragraph-2_1075,.Pixso-paragraph-2_1124,.Pixso-paragraph-2_1133,.Pixso-paragraph-2_1142,.Pixso-paragraph-2_1082,.Pixso-paragraph-2_1083,.Pixso-paragraph-2_1084,.Pixso-paragraph-2_1086,.Pixso-paragraph-2_1091,.Pixso-paragraph-2_1100,.Pixso-paragraph-2_1109,.Pixso-paragraph-2_1094,.Pixso-paragraph-2_1105,.Pixso-paragraph-2_1114,.Pixso-paragraph-2_1096,.Pixso-paragraph-2_1098,.Pixso-paragraph-2_1103,.Pixso-paragraph-2_1107,.Pixso-paragraph-2_1112,.Pixso-paragraph-2_1116,.Pixso-paragraph-2_1118,.Pixso-paragraph-2_1119,.Pixso-paragraph-2_1122,.Pixso-paragraph-2_1131,.Pixso-paragraph-2_1140,.Pixso-paragraph-2_1125,.Pixso-paragraph-2_1143,.Pixso-paragraph-2_1128,.Pixso-paragraph-2_1146,.Pixso-paragraph-2_1134,.Pixso-paragraph-2_1137,.Pixso-paragraph-2_1154,.Pixso-paragraph-2_1160,.Pixso-paragraph-2_1173,.Pixso-paragraph-2_1179,.Pixso-paragraph-2_1166 {
  font-weight: 400;
  text-align: left;
  letter-spacing: 0px;
  text-decoration: none;
  flex-grow: 0;
}

.Pixso-paragraph-2_1053 {
  font-size: 15px;
  font-family: "DM Sans-Medium";
  color: var(--color-text-primary);
  white-space: pre;
}

.Pixso-frame-2_1054 {
  flex-direction: row;
  gap: 6px;
  align-items: center;
  padding: 1px 1px 1px 1px;
}

.Pixso-vector-2_1055,.Pixso-vector-2_1061,.Pixso-vector-2_1151,.Pixso-vector-2_1157,.Pixso-frame-2_1163,.Pixso-vector-2_1169,.Pixso-vector-2_1176 {
  width: 16px;
  height: 16px;
}

.Pixso-vector-2_1055,.Pixso-vector-2_1061,.Pixso-vector-2_1067,.Pixso-vector-2_1068,.Pixso-vector-2_1069,.Pixso-vector-2_1070,.Pixso-frame-2_1076,.Pixso-vector-2_1080,.Pixso-vector-2_1087,.Pixso-vector-2_1151,.Pixso-vector-2_1157,.Pixso-vector-2_1164,.Pixso-vector-2_1169,.Pixso-vector-2_1176 {
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.Pixso-vector-2_1055 {
  background-image: url(@/assets/images/signal2.svg);
}

.Pixso-vector-2_1061 {
  background-image: url(@/assets/images/wifi2.svg);
}

.Pixso-frame-2_1066 {
  width: 18px;
  height: 18px;
}

.Pixso-vector-2_1067,.Pixso-vector-2_1068,.Pixso-vector-2_1069,.Pixso-vector-2_1070 {
  height: 25%;
  position: absolute;
  top: 41.67%;
  bottom: 33.33%;
}

.Pixso-vector-2_1067 {
  width: 8.33%;
  background-image: url(@/assets/images/Vector_2_1067.svg);
  left: 41.67%;
  right: 50%;
}

.Pixso-vector-2_1068 {
  width: 8.34%;
  background-image: url(@/assets/images/Vector_2_1068.svg);
  left: 58.33%;
  right: 33.33%;
}

.Pixso-vector-2_1069 {
  width: 8.33%;
  background-image: url(@/assets/images/Vector_2_1069.svg);
  left: 91.67%;
  right: 0%;
}

.Pixso-vector-2_1070 {
  width: 8.33%;
  background-image: url(@/assets/images/Vector_2_1070.svg);
  left: 25%;
  right: 66.67%;
}

.Pixso-rectangle-2_1071 {
  width: 100%;
  height: 100%;
  border-radius: 1.5px 1.5px 1.5px 1.5px;
  z-index: 0;
}

.stroke-wrapper-2_1071,.stroke-wrapper-2_1081,.stroke-wrapper-2_1165 {
  left: 8.33%;
  top: 25%;
}

.stroke-wrapper-2_1071 {
  position: absolute;
  isolation: isolate;
  right: 25%;
  bottom: 25%;
  width: 66.67%;
  height: 50%;
}

.stroke-2_1071,.stroke-2_1081,.stroke-2_1127,.stroke-2_1145,.stroke-2_1136,.stroke-2_1148,.stroke-2_1165 {
  pointer-events: none;
  border-style: solid;
  box-sizing: border-box;
}

.stroke-2_1071 {
  position: absolute;
  inset: -0.75px -0.75px -0.75px -0.75px;
  border-radius: 1.5px 1.5px 1.5px 1.5px;
  z-index: 1;
  border-width: 1.5px 1.5px 1.5px 1.5px;
  border-color: var(--color-text-primary);
}

.Pixso-frame-2_1072,.frame-content-2_1072,.Pixso-frame-2_1076,.frame-content-2_1076,.Pixso-frame-2_1089,.frame-content-2_1089,.Pixso-frame-2_1090,.Pixso-frame-2_1099,.Pixso-frame-2_1108,.Pixso-frame-2_1147,.frame-content-2_1090,.frame-content-2_1099,.frame-content-2_1108 {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.Pixso-frame-2_1072 {
  overflow: hidden;
  flex-grow: 1;
}

.frame-content-2_1072 {
  gap: 14px;
  padding: 6px 20px 20px 20px;
  height: 100%;
}

.frame-content-2_1073 {
  padding: 1px 0px 1px 0px;
}

.Pixso-paragraph-2_1074 {
  font-size: var(--font-h1);
  font-family: "Noto Sans SC-ExtraBold";
  color: var(--color-text-primary);
  white-space: pre;
}

.Pixso-paragraph-2_1075,.Pixso-paragraph-2_1124,.Pixso-paragraph-2_1133,.Pixso-paragraph-2_1142 {
  font-size: 12px;
  font-family: "Noto Sans SC-Regular";
  color: var(--color-text-secondary);
  white-space: pre;
}

.Pixso-frame-2_1076 {
  border-radius: 24px 24px 24px 24px;
  background-image: linear-gradient(135deg, var(--color-brand-purple), var(--color-brand-purplelight));
  background-position: center;
}

.frame-content-2_1076 {
  gap: 10px;
  padding: 20px 20px 20px 20px;
}

.Pixso-frame-2_1077,.Pixso-frame-2_1123,.Pixso-frame-2_1132,.Pixso-frame-2_1141,.frame-content-2_1077 {
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.frame-content-2_1077,.frame-content-2_1090,.frame-content-2_1099,.frame-content-2_1108 {
  gap: 8px;
  padding: 1px 0px 1px 0px;
}

.Pixso-frame-2_1078,.Pixso-frame-2_1150,.Pixso-frame-2_1156,.Pixso-frame-2_1162,.Pixso-frame-2_1168,.Pixso-frame-2_1175 {
  width: 26px;
  height: 26px;
  border-radius: 9px 9px 9px 9px;
}

.Pixso-frame-2_1078 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.239216);
}

.frame-content-2_1078,.frame-content-2_1150,.frame-content-2_1156,.frame-content-2_1162,.frame-content-2_1168,.frame-content-2_1175 {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.Pixso-frame-2_1079,.Pixso-vector-2_1087 {
  width: 15px;
  height: 15px;
}

.Pixso-vector-2_1080,.Pixso-vector-2_1164 {
  width: 41.67%;
  height: 83.34%;
  left: 33.33%;
  top: 8.33%;
  bottom: 8.33%;
}

.Pixso-vector-2_1080 {
  background-image: url(@/assets/images/Vector_2_1080.svg);
  position: absolute;
  right: 25%;
}

.Pixso-rectangle-2_1081 {
  width: 100%;
  height: 100%;
  border-radius: 1.25px 1.25px 1.25px 1.25px;
  z-index: 0;
}

.stroke-wrapper-2_1081,.stroke-wrapper-2_1165 {
  position: absolute;
  isolation: isolate;
  right: 8.33%;
  bottom: 16.67%;
  width: 83.34%;
  height: 58.33%;
}

.stroke-2_1081 {
  position: absolute;
  inset: -0.625px -0.625px -0.625px -0.625px;
  border-radius: 1.25px 1.25px 1.25px 1.25px;
  z-index: 1;
  border-width: 1.25px 1.25px 1.25px 1.25px;
  border-color: rgba(255, 255, 255, 1);
}

.Pixso-paragraph-2_1082,.Pixso-paragraph-2_1083,.Pixso-paragraph-2_1084 {
  color: rgba(255, 255, 255, 1);
}

.Pixso-paragraph-2_1082 {
  font-size: 12px;
  font-family: "Noto Sans SC-Bold";
  white-space: pre;
}

.Pixso-paragraph-2_1083 {
  font-size: 22px;
  font-family: "Noto Sans SC-ExtraBold";
  white-space: pre;
}

.Pixso-paragraph-2_1084 {
  font-size: 13px;
  font-family: "Noto Sans SC-Regular";
  line-height: 159.99999%;
  width: 100%;
  opacity: 0.9;
}

.Pixso-frame-2_1085,.frame-content-2_1085 {
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Pixso-frame-2_1085 {
  height: 44px;
  border-radius: 14px 14px 14px 14px;
  background-color: var(--color-bg-card);
}

.frame-content-2_1085 {
  gap: 6px;
  height: 100%;
}

.Pixso-paragraph-2_1086 {
  font-size: 14px;
  font-family: "Noto Sans SC-Bold";
  color: var(--color-brand-sky);
  white-space: pre;
}

.Pixso-vector-2_1087 {
  background-image: url(@/assets/images/play.svg);
}

.Pixso-frame-2_1089 {
  border-radius: 24px 24px 24px 24px;
  background-color: var(--color-bg-card);
}

.frame-content-2_1089 {
  gap: 14px;
  padding: 18px 18px 18px 18px;
}

.Pixso-paragraph-2_1091,.Pixso-paragraph-2_1100,.Pixso-paragraph-2_1109 {
  font-size: 12px;
  font-family: "Noto Sans SC-SemiBold";
  color: var(--color-text-secondary);
  white-space: pre;
}

.Pixso-frame-2_1092,.Pixso-frame-2_1101,.Pixso-frame-2_1110 {
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  border-radius: 14px 14px 14px 14px;
  background-color: var(--color-bg-input);
}

.frame-content-2_1092,.frame-content-2_1101,.frame-content-2_1110 {
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  padding: 4px 4px 4px 4px;
  width: 100%;
}

.Pixso-frame-2_1093,.Pixso-frame-2_1104,.Pixso-frame-2_1113,.Pixso-frame-2_1095,.Pixso-frame-2_1097,.Pixso-frame-2_1102,.Pixso-frame-2_1106,.Pixso-frame-2_1111,.Pixso-frame-2_1115 {
  height: 34px;
  border-radius: 11px 11px 11px 11px;
}

.Pixso-frame-2_1093,.Pixso-frame-2_1104,.Pixso-frame-2_1113,.Pixso-frame-2_1095,.Pixso-frame-2_1097,.Pixso-frame-2_1102,.Pixso-frame-2_1106,.Pixso-frame-2_1111,.Pixso-frame-2_1115,.Pixso-frame-2_1121,.Pixso-frame-2_1130,.Pixso-frame-2_1139,.Pixso-frame-2_1149,.Pixso-frame-2_1155,.Pixso-frame-2_1167,.Pixso-frame-2_1174,.Pixso-frame-2_1161 {
  flex-shrink: 1;
  flex-basis: 0;
}

.Pixso-frame-2_1093,.Pixso-frame-2_1104,.Pixso-frame-2_1113 {
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  flex-grow: 1;
  background-color: var(--color-bg-card);
}

.frame-content-2_1093,.frame-content-2_1095,.frame-content-2_1097,.frame-content-2_1102,.frame-content-2_1104,.frame-content-2_1106,.frame-content-2_1111,.frame-content-2_1113,.frame-content-2_1115 {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  width: 100%;
  height: 100%;
}

.Pixso-paragraph-2_1094,.Pixso-paragraph-2_1105,.Pixso-paragraph-2_1114 {
  font-size: 12px;
  font-family: "Noto Sans SC-Bold";
  color: var(--color-text-primary);
  white-space: pre;
}

.Pixso-frame-2_1095,.Pixso-frame-2_1097,.Pixso-frame-2_1102,.Pixso-frame-2_1106,.Pixso-frame-2_1111,.Pixso-frame-2_1115 {
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  flex-grow: 1;
}

.Pixso-paragraph-2_1096,.Pixso-paragraph-2_1098,.Pixso-paragraph-2_1103,.Pixso-paragraph-2_1107,.Pixso-paragraph-2_1112,.Pixso-paragraph-2_1116 {
  font-size: 12px;
  font-family: "Noto Sans SC-Medium";
  color: var(--color-text-secondary);
  white-space: pre;
}

.frame-content-2_1117 {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 6px 0px 0px 0px;
  width: 100%;
}

.Pixso-paragraph-2_1118,.Pixso-paragraph-2_1119 {
  font-family: "Noto Sans SC-Bold";
  white-space: pre;
}

.Pixso-paragraph-2_1118 {
  font-size: var(--font-h2);
  color: var(--color-text-primary);
}

.Pixso-paragraph-2_1119 {
  font-size: 12px;
  color: var(--color-brand-sky);
}

.Pixso-frame-2_1120,.Pixso-frame-2_1129,.Pixso-frame-2_1138 {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px 20px 20px 20px;
  background-color: var(--color-bg-card);
}

.frame-content-2_1120,.frame-content-2_1129,.frame-content-2_1138 {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px 16px 16px;
  width: 100%;
}

.Pixso-frame-2_1121,.Pixso-frame-2_1130,.Pixso-frame-2_1139 {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  flex-grow: 1;
}

.frame-content-2_1121,.frame-content-2_1130,.frame-content-2_1139 {
  flex-direction: column;
  gap: 7px;
  align-items: flex-start;
  min-width: 0;
  padding: 1px 0px 1px 0px;
  width: 100%;
}

.Pixso-paragraph-2_1122,.Pixso-paragraph-2_1131,.Pixso-paragraph-2_1140 {
  font-size: 15px;
  font-family: "Noto Sans SC-Bold";
  font-feature-settings: "locl" 0;
  color: var(--color-text-primary);
  width: 100%;
}

.frame-content-2_1123,.frame-content-2_1132,.frame-content-2_1141 {
  flex-direction: row;
  gap: 8px;
  align-items: center;
  padding: 1px 1px 1px 1px;
  width: 100%;
}

.Pixso-paragraph-2_1125,.Pixso-paragraph-2_1143 {
  font-size: 13px;
  font-family: "DM Sans-Bold";
  color: var(--color-brand-sky);
  white-space: pre;
}

.Pixso-frame-2_1126,.Pixso-frame-2_1135,.Pixso-frame-2_1144 {
  flex-direction: row;
  gap: 8px;
  align-items: center;
  padding: 1px 1px 1px 1px;
}

.Pixso-frame-2_1127,.Pixso-frame-2_1145 {
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: center;
  padding: 6px 11px 6px 11px;
  border-radius: 13px 13px 13px 13px;
  z-index: 1;
  background-color: var(--color-brand-mintsoft);
}

.stroke-wrapper-2_1127,.stroke-wrapper-2_1136,.stroke-wrapper-2_1145 {
  isolation: isolate;
}

.stroke-2_1127,.stroke-2_1145 {
  position: absolute;
  inset: 0px;
  border-radius: 13px 13px 13px 13px;
  z-index: 0;
  border-width: 1.5px 1.5px 1.5px 1.5px;
  border-color: var(--color-brand-mint);
}

.Pixso-paragraph-2_1128,.Pixso-paragraph-2_1146,.Pixso-paragraph-2_1134 {
  font-family: "DM Sans-Bold";
  white-space: pre;
}

.Pixso-paragraph-2_1128,.Pixso-paragraph-2_1146 {
  font-size: 11px;
  color: var(--color-brand-mint);
}

.Pixso-paragraph-2_1134 {
  font-size: 13px;
  color: var(--color-brand-coral);
}

.Pixso-frame-2_1136 {
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: center;
  padding: 6px 11px 6px 11px;
  border-radius: 13px 13px 13px 13px;
  z-index: 1;
  background-color: var(--color-bg-card);
}

.stroke-2_1136 {
  position: absolute;
  inset: 0px;
  border-radius: 13px 13px 13px 13px;
  z-index: 0;
  border-width: 1.5px 1.5px 1.5px 1.5px;
  border-color: var(--color-brand-coral);
}

.Pixso-paragraph-2_1137 {
  font-size: 11px;
  font-family: "DM Sans-Bold";
  color: var(--color-brand-coral);
  white-space: pre;
}

.frame-content-2_1147 {
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 21px 21px 21px;
  width: 100%;
}

.Pixso-frame-2_1148,.frame-content-2_1148 {
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: center;
}

.Pixso-frame-2_1148 {
  border-radius: 36px 36px 36px 36px;
  z-index: 0;
  background-color: var(--color-bg-card);
}

.frame-content-2_1148 {
  padding: 4px 4px 4px 4px;
}

.stroke-wrapper-2_1148 {
  isolation: isolate;
  width: 100%;
  height: 62px;
}

.stroke-2_1148 {
  position: absolute;
  inset: 0px;
  border-radius: 36px 36px 36px 36px;
  z-index: 1;
  border-width: 1px 1px 1px 1px;
  border-color: var(--color-border-base);
}

.Pixso-frame-2_1149,.Pixso-frame-2_1155,.Pixso-frame-2_1167,.Pixso-frame-2_1174,.Pixso-frame-2_1161 {
  height: 54px;
  align-self: stretch;
  border-radius: 26px 26px 26px 26px;
}

.Pixso-frame-2_1149,.Pixso-frame-2_1155,.Pixso-frame-2_1167,.Pixso-frame-2_1174 {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  flex-grow: 1;
}

.frame-content-2_1149,.frame-content-2_1155,.frame-content-2_1161,.frame-content-2_1167,.frame-content-2_1174 {
  flex-direction: column;
  gap: 3px;
  align-items: center;
  justify-content: center;
  min-width: 0;
  width: 100%;
  height: 100%;
}

.Pixso-frame-2_1150 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--color-brand-purplesoft);
}

.Pixso-vector-2_1151 {
  background-image: url(@/assets/images/home2.svg);
}

.Pixso-paragraph-2_1154,.Pixso-paragraph-2_1160,.Pixso-paragraph-2_1173,.Pixso-paragraph-2_1179 {
  font-size: 10px;
  font-family: "Noto Sans SC-SemiBold";
  color: var(--color-text-secondary);
  white-space: pre;
}

.Pixso-frame-2_1156 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--color-brand-mintsoft);
}

.Pixso-vector-2_1157 {
  background-image: url(@/assets/images/bookopen4.svg);
}

.Pixso-frame-2_1161,.Pixso-frame-2_1162 {
  justify-content: center;
  align-items: center;
}

.Pixso-frame-2_1161 {
  width: 100%;
  flex-direction: column;
  min-width: 0;
  flex-grow: 1;
  background-color: var(--color-brand-purple);
}

.Pixso-frame-2_1162 {
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.180392);
}

.Pixso-vector-2_1164 {
  background-image: url(@/assets/images/Vector_2_1164.svg);
  position: absolute;
  right: 25%;
}

.Pixso-rectangle-2_1165 {
  width: 100%;
  height: 100%;
  border-radius: 1.333333px 1.333333px 1.333333px 1.333333px;
  z-index: 0;
}

.stroke-2_1165 {
  position: absolute;
  inset: -0.6666665px -0.6666665px -0.6666665px -0.6666665px;
  border-radius: 1.333333px 1.333333px 1.333333px 1.333333px;
  z-index: 1;
  border-width: 1.333333px 1.333333px 1.333333px 1.333333px;
  border-color: rgba(255, 255, 255, 1);
}

.Pixso-paragraph-2_1166 {
  font-size: 10px;
  font-family: "Noto Sans SC-Bold";
  color: rgba(255, 255, 255, 1);
  white-space: pre;
}

.Pixso-frame-2_1168 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--color-brand-lemonsoft);
}

.Pixso-vector-2_1169 {
  background-image: url(@/assets/images/layers3.svg);
}

.Pixso-frame-2_1175 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--color-brand-coralsoft);
}

.Pixso-vector-2_1176 {
  background-image: url(@/assets/images/user2.svg);
}

.Pixso-frame-2_1148-content-layer {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
