
.scroll-container {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.Pixso-frame-2_394 {
  width: 100%;
  height: 844px;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--color-bg-cream);
}

.Pixso-frame-2_395,.frame-content-2_395,.Pixso-frame-2_439,.Pixso-frame-2_476,.Pixso-frame-2_481,.Pixso-frame-2_485,.frame-content-2_439,.frame-content-2_476,.frame-content-2_485 {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Pixso-frame-2_395 {
  height: 62px;
}

.frame-content-2_395 {
  padding: 0px 20px 0px 20px;
  height: 100%;
}

.Pixso-paragraph-2_396,.Pixso-paragraph-2_419,.Pixso-paragraph-2_433,.Pixso-paragraph-2_514,.Pixso-paragraph-2_435,.Pixso-paragraph-2_446,.Pixso-paragraph-2_440,.Pixso-paragraph-2_482,.Pixso-paragraph-2_456,.Pixso-paragraph-2_457,.Pixso-paragraph-2_462,.Pixso-paragraph-2_465,.Pixso-paragraph-2_468,.Pixso-paragraph-2_474,.Pixso-paragraph-2_477,.Pixso-paragraph-2_483,.Pixso-paragraph-2_478,.Pixso-paragraph-2_490,.Pixso-paragraph-2_501,.Pixso-paragraph-2_491,.Pixso-paragraph-2_492,.Pixso-paragraph-2_502,.Pixso-paragraph-2_515,.Pixso-paragraph-2_533,.Pixso-paragraph-2_494,.Pixso-paragraph-2_503,.Pixso-paragraph-2_526,.Pixso-paragraph-2_534,.Pixso-paragraph-2_536,.Pixso-paragraph-2_543,.Pixso-paragraph-2_553,.Pixso-paragraph-2_559,.Pixso-paragraph-2_565,.Pixso-paragraph-2_572,.Pixso-paragraph-2_578 {
  font-weight: 400;
  text-align: left;
  letter-spacing: 0px;
  text-decoration: none;
}

.Pixso-paragraph-2_396 {
  font-size: 15px;
  font-family: "DM Sans-Medium";
  color: var(--color-text-primary);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-frame-2_397,.Pixso-frame-2_418,.Pixso-frame-2_516 {
  flex-direction: row;
  gap: 6px;
  align-items: center;
  padding: 1px 1px 1px 1px;
}

.Pixso-vector-2_398,.Pixso-vector-2_404,.Pixso-vector-2_550,.Pixso-vector-2_556,.Pixso-frame-2_562,.Pixso-vector-2_568,.Pixso-vector-2_575 {
  width: 16px;
  height: 16px;
}

.Pixso-vector-2_398,.Pixso-vector-2_404,.Pixso-vector-2_410,.Pixso-vector-2_411,.Pixso-vector-2_412,.Pixso-vector-2_413,.Pixso-vector-2_420,.Pixso-vector-2_431,.Pixso-vector-2_436,.Pixso-vector-2_442,.Pixso-vector-2_450,.Pixso-vector-2_451,.Pixso-vector-2_470,.Pixso-frame-2_480,.Pixso-vector-2_487,.Pixso-frame-2_493,.Pixso-vector-2_498,.Pixso-vector-2_504,.Pixso-vector-2_509,.Pixso-vector-2_517,.Pixso-vector-2_530,.Pixso-vector-2_539,.Pixso-vector-2_544,.Pixso-vector-2_550,.Pixso-vector-2_556,.Pixso-vector-2_563,.Pixso-vector-2_568,.Pixso-vector-2_575 {
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.Pixso-vector-2_398 {
  background-image: url(@/assets/images/signal1.svg);
}

.Pixso-vector-2_404 {
  background-image: url(@/assets/images/wifi1.svg);
}

.Pixso-frame-2_409,.Pixso-vector-2_539 {
  width: 18px;
  height: 18px;
}

.Pixso-vector-2_410,.Pixso-vector-2_411,.Pixso-vector-2_412,.Pixso-vector-2_413 {
  height: 25%;
  position: absolute;
  top: 41.67%;
  bottom: 33.33%;
}

.Pixso-vector-2_410 {
  width: 8.33%;
  background-image: url(@/assets/images/Vector_2_410.svg);
  left: 41.67%;
  right: 50%;
}

.Pixso-vector-2_411 {
  width: 8.34%;
  background-image: url(@/assets/images/Vector_2_411.svg);
  left: 58.33%;
  right: 33.33%;
}

.Pixso-vector-2_412 {
  width: 8.33%;
  background-image: url(@/assets/images/Vector_2_412.svg);
  left: 91.67%;
  right: 0%;
}

.Pixso-vector-2_413 {
  width: 8.33%;
  background-image: url(@/assets/images/Vector_2_413.svg);
  left: 25%;
  right: 66.67%;
}

.Pixso-rectangle-2_414 {
  width: 100%;
  height: 100%;
  border-radius: 1.5px 1.5px 1.5px 1.5px;
  z-index: 0;
}

.stroke-wrapper-2_414,.stroke-wrapper-2_564 {
  left: 8.33%;
  top: 25%;
}

.stroke-wrapper-2_414 {
  position: absolute;
  isolation: isolate;
  right: 25%;
  bottom: 25%;
  width: 66.67%;
  height: 50%;
}

.stroke-2_414,.stroke-2_434,.stroke-2_535,.stroke-2_547,.stroke-2_564 {
  pointer-events: none;
  border-style: solid;
  box-sizing: border-box;
}

.stroke-2_414 {
  position: absolute;
  inset: -0.75px -0.75px -0.75px -0.75px;
  border-radius: 1.5px 1.5px 1.5px 1.5px;
  z-index: 1;
  border-width: 1.5px 1.5px 1.5px 1.5px;
  border-color: var(--color-text-primary);
}

.Pixso-frame-2_415,.frame-content-2_415,.Pixso-frame-2_416,.frame-content-2_416 {
  width: 100%;
  align-items: flex-start;
}

.Pixso-frame-2_415 {
  overflow: hidden;
  flex-direction: column;
  flex-grow: 1;
}

.frame-content-2_415 {
  flex-direction: column;
  gap: 14px;
  padding: 6px 20px 20px 20px;
  height: 100%;
}

.Pixso-frame-2_416,.frame-content-2_416 {
  flex-direction: row;
  justify-content: space-between;
}

.frame-content-2_416,.frame-content-2_439,.frame-content-2_476,.frame-content-2_485 {
  padding: 1px 0px 1px 0px;
}

.Pixso-frame-2_417 {
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  padding: 1px 1px 1px 1px;
}

.Pixso-paragraph-2_419 {
  font-size: var(--font-h1);
  font-family: "Noto Sans SC-ExtraBold";
  color: var(--color-text-primary);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-vector-2_420,.Pixso-vector-2_504,.Pixso-vector-2_544 {
  width: 20px;
  height: 20px;
}

.Pixso-vector-2_420 {
  background-image: url(@/assets/images/sun.svg);
}

.Pixso-frame-2_430 {
  flex-direction: row;
  gap: 5px;
  align-items: center;
  padding: 6px 10px 6px 10px;
  border-radius: 13px 13px 13px 13px;
  background-color: var(--color-brand-lemonsoft);
}

.Pixso-vector-2_431,.Pixso-vector-2_436,.Pixso-vector-2_470,.Pixso-vector-2_530 {
  width: 14px;
  height: 14px;
}

.Pixso-vector-2_431 {
  background-image: url(@/assets/images/flame.svg);
}

.Pixso-paragraph-2_433,.Pixso-paragraph-2_514 {
  font-size: 12px;
  font-family: "Noto Sans SC-Bold";
  color: var(--color-brand-lemon);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-frame-2_434 {
  width: 100%;
  height: 100%;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  padding: 8px 12px 8px 12px;
  border-radius: 17px 17px 17px 17px;
  z-index: 1;
  background-color: var(--color-bg-card);
}

.stroke-wrapper-2_434,.stroke-wrapper-2_535 {
  isolation: isolate;
}

.stroke-2_434,.stroke-2_547 {
  border-width: 1px 1px 1px 1px;
  border-color: var(--color-border-base);
}

.stroke-2_434 {
  position: absolute;
  inset: 0px;
  border-radius: 17px 17px 17px 17px;
  z-index: 0;
}

.Pixso-paragraph-2_435,.Pixso-paragraph-2_446 {
  font-size: 12px;
  font-family: "Noto Sans SC-Bold";
  color: var(--color-brand-purple);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-vector-2_436 {
  background-image: url(@/assets/images/chevrondown.svg);
}

.Pixso-frame-2_438,.Pixso-frame-2_484,.frame-content-2_438,.Pixso-frame-2_475,.Pixso-frame-2_546,.frame-content-2_475 {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.Pixso-frame-2_438,.Pixso-frame-2_484 {
  border-radius: 24px 24px 24px 24px;
  background-color: var(--color-bg-card);
}

.frame-content-2_438 {
  gap: 14px;
  padding: 20px 20px 20px 20px;
}

.Pixso-paragraph-2_440,.Pixso-paragraph-2_482 {
  font-size: var(--font-h2);
  font-family: "Noto Sans SC-Bold";
  color: var(--color-text-primary);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-frame-2_441 {
  flex-direction: row;
  gap: 5px;
  align-items: center;
  padding: 5px 10px 5px 10px;
  border-radius: 12px 12px 12px 12px;
  background-color: var(--color-brand-purplesoft);
}

.Pixso-vector-2_442,.Pixso-vector-2_517 {
  width: 13px;
  height: 13px;
}

.Pixso-vector-2_442 {
  background-image: url(@/assets/images/layers2.svg);
}

.Pixso-frame-2_447,.Pixso-frame-2_459,.frame-content-2_447,.Pixso-frame-2_479,.frame-content-2_479,.Pixso-frame-2_537,.frame-content-2_537,.frame-content-2_538 {
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.frame-content-2_447 {
  gap: 16px;
  padding: 1px 0px 1px 0px;
}

.Pixso-frame-2_448 {
  width: 132px;
  height: 132px;
  border-radius: 66px 66px 66px 66px;
  background-color: var(--color-bg-card);
}

.Pixso-frame-2_449 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.Pixso-vector-2_450,.Pixso-vector-2_451 {
  width: 95.45%;
  height: 95.45%;
  position: absolute;
  left: 7.58%;
  right: -3.03%;
  top: 7.58%;
  bottom: -3.03%;
}

.Pixso-vector-2_450 {
  background-image: url(@/assets/images/Ellipse_2_450.svg);
}

.Pixso-vector-2_451 {
  background-image: url(@/assets/images/Group_2_451.svg);
}

.Pixso-frame-2_455,.frame-content-2_455 {
  flex-direction: column;
  align-items: center;
}

.Pixso-frame-2_455 {
  width: 66px;
  position: absolute;
  left: 33px;
  top: 44px;
}

.frame-content-2_455 {
  width: 100%;
}

.Pixso-paragraph-2_456,.Pixso-paragraph-2_457,.Pixso-paragraph-2_477,.Pixso-paragraph-2_483,.Pixso-paragraph-2_478 {
  white-space: pre;
  flex-grow: 0;
}

.Pixso-paragraph-2_456 {
  font-size: var(--font-data);
  font-family: "DM Sans-Bold";
  color: var(--color-brand-purple);
}

.Pixso-paragraph-2_457 {
  font-size: 11px;
  font-family: "Noto Sans SC-Regular";
  color: var(--color-text-secondary);
}

.Pixso-frame-2_458,.Pixso-frame-2_496,.Pixso-frame-2_507,.Pixso-frame-2_532,.Pixso-frame-2_528,.Pixso-frame-2_538,.Pixso-paragraph-2_543,.Pixso-frame-2_548,.Pixso-frame-2_554,.Pixso-frame-2_560,.Pixso-frame-2_566,.Pixso-frame-2_573 {
  flex-shrink: 1;
  flex-basis: 0;
}

.Pixso-frame-2_458,.Pixso-frame-2_496,.Pixso-frame-2_507,.Pixso-frame-2_532 {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  flex-grow: 1;
}

.frame-content-2_458 {
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  min-width: 0;
  padding: 1px 0px 1px 0px;
  width: 100%;
}

.frame-content-2_459,.Pixso-frame-2_460 {
  flex-direction: row;
  align-items: center;
}

.frame-content-2_459 {
  flex-wrap: wrap;
  gap: 6px 6px;
  align-content: center;
  padding: 1px 0px 1px 0px;
  width: 100%;
}

.Pixso-frame-2_460 {
  gap: 6px;
  padding: 5px 9px 5px 9px;
  border-radius: 13px 13px 13px 13px;
  background-color: var(--color-brand-mintsoft);
}

.Pixso-frame-2_461,.Pixso-frame-2_464,.Pixso-frame-2_467 {
  width: 8px;
  height: 8px;
  border-radius: 4px 4px 4px 4px;
}

.Pixso-frame-2_461 {
  background-color: var(--color-brand-mint);
}

.Pixso-paragraph-2_462,.Pixso-paragraph-2_465,.Pixso-paragraph-2_468,.Pixso-paragraph-2_474 {
  font-size: 12px;
  font-family: "Noto Sans SC-SemiBold";
  color: var(--color-text-primary);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-frame-2_463 {
  flex-direction: row;
  gap: 6px;
  align-items: center;
  padding: 5px 9px 5px 9px;
  border-radius: 13px 13px 13px 13px;
  background-color: var(--color-brand-lemonsoft);
}

.Pixso-frame-2_464 {
  background-color: var(--color-brand-lemon);
}

.Pixso-frame-2_466 {
  flex-direction: row;
  gap: 6px;
  align-items: center;
  padding: 5px 9px 5px 9px;
  border-radius: 13px 13px 13px 13px;
  background-color: var(--color-brand-coralsoft);
}

.Pixso-frame-2_467 {
  background-color: var(--color-brand-coral);
}

.Pixso-frame-2_469 {
  flex-direction: row;
  gap: 6px;
  align-items: center;
  padding: 8px 11px 8px 11px;
  border-radius: 14px 14px 14px 14px;
  background-color: var(--color-brand-lemonsoft);
}

.Pixso-vector-2_470 {
  background-image: url(@/assets/images/target.svg);
}

.frame-content-2_475 {
  gap: 8px;
  padding: 1px 0px 1px 0px;
}

.Pixso-paragraph-2_477,.Pixso-paragraph-2_483 {
  font-size: 12px;
  font-family: "Noto Sans SC-Regular";
  color: var(--color-text-secondary);
}

.Pixso-paragraph-2_478 {
  font-size: 13px;
  font-family: "DM Sans-Bold";
  color: var(--color-brand-purple);
}

.Pixso-frame-2_479,.Pixso-frame-2_480 {
  height: 10px;
  border-radius: 5px 5px 5px 5px;
}

.Pixso-frame-2_479 {
  background-color: var(--color-bg-input);
}

.frame-content-2_479 {
  height: 100%;
}

.Pixso-frame-2_480 {
  width: 130px;
  background-image: linear-gradient(135deg, var(--color-brand-purple), var(--color-brand-purplelight));
  background-position: center;
}

.frame-content-2_481 {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 4px 0px 0px 0px;
  width: 100%;
}

.frame-content-2_484 {
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  padding: 18px 18px 18px 18px;
  width: 100%;
}

.Pixso-frame-2_486,.Pixso-frame-2_497 {
  flex-direction: row;
  gap: 5px;
  align-items: center;
  padding: 5px 10px 5px 10px;
  border-radius: 13px 13px 13px 13px;
  background-color: var(--color-brand-mintsoft);
}

.Pixso-vector-2_487,.Pixso-vector-2_498,.Pixso-vector-2_509 {
  width: 12px;
  height: 12px;
}

.Pixso-vector-2_487 {
  background-image: url(@/assets/images/rotateccw.svg);
}

.Pixso-paragraph-2_490,.Pixso-paragraph-2_501,.Pixso-paragraph-2_491 {
  font-size: 12px;
  color: var(--color-brand-mint);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-paragraph-2_490,.Pixso-paragraph-2_501 {
  font-family: "Noto Sans SC-Bold";
}

.Pixso-paragraph-2_491 {
  font-family: "Noto Sans SC-SemiBold";
}

.Pixso-paragraph-2_492,.Pixso-paragraph-2_502,.Pixso-paragraph-2_515,.Pixso-paragraph-2_533 {
  font-size: var(--font-body);
  font-family: "Noto Sans SC-Bold";
  font-feature-settings: "locl" 0;
  color: var(--color-text-primary);
  width: 100%;
  flex-grow: 0;
}

.Pixso-frame-2_493,.frame-content-2_493 {
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Pixso-frame-2_493 {
  height: 44px;
  border-radius: 14px 14px 14px 14px;
  background-image: linear-gradient(135deg, var(--color-brand-purple), var(--color-brand-purplelight));
  background-position: center;
}

.frame-content-2_493 {
  gap: 6px;
  height: 100%;
}

.Pixso-paragraph-2_494 {
  font-size: 14px;
  font-family: "Noto Sans SC-Bold";
  color: rgba(255, 255, 255, 1);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-frame-2_495,.Pixso-frame-2_506,.Pixso-frame-2_527 {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 24px 24px 24px 24px;
  background-color: var(--color-bg-card);
}

.frame-content-2_495,.frame-content-2_506,.frame-content-2_527 {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 18px 18px 18px 18px;
  width: 100%;
}

.frame-content-2_496,.frame-content-2_507 {
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  min-width: 0;
  padding: 1px 0px 1px 0px;
  width: 100%;
}

.Pixso-vector-2_498 {
  background-image: url(@/assets/images/rotateccw0.svg);
}

.Pixso-paragraph-2_503,.Pixso-paragraph-2_526,.Pixso-paragraph-2_534 {
  font-size: 13px;
  font-family: "Noto Sans SC-Regular";
  color: var(--color-text-secondary);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-vector-2_504 {
  background-image: url(@/assets/images/chevronright6.svg);
}

.Pixso-frame-2_508 {
  flex-direction: row;
  gap: 5px;
  align-items: center;
  padding: 5px 10px 5px 10px;
  border-radius: 13px 13px 13px 13px;
  background-color: var(--color-brand-lemonsoft);
}

.Pixso-vector-2_509 {
  background-image: url(@/assets/images/sparkles0.svg);
}

.Pixso-vector-2_517 {
  background-image: url(@/assets/images/loader.svg);
}

.Pixso-frame-2_528,.Pixso-frame-2_538,.frame-content-2_528 {
  width: 100%;
  flex-direction: row;
  align-items: center;
  min-width: 0;
}

.Pixso-frame-2_528,.Pixso-frame-2_538 {
  flex-grow: 1;
}

.frame-content-2_528 {
  gap: 10px;
  padding: 1px 0px 1px 0px;
}

.Pixso-frame-2_529 {
  width: 24px;
  height: 24px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 12px 12px 12px 12px;
  background-color: var(--color-brand-mint);
}

.frame-content-2_529,.frame-content-2_549,.frame-content-2_555,.frame-content-2_561,.frame-content-2_567,.frame-content-2_574 {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.Pixso-vector-2_530 {
  background-image: url(@/assets/images/check.svg);
}

.frame-content-2_532 {
  flex-direction: column;
  gap: 3px;
  align-items: flex-start;
  min-width: 0;
  padding: 1px 0px 1px 0px;
  width: 100%;
}

.Pixso-frame-2_535 {
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: center;
  padding: 6px 12px 6px 12px;
  border-radius: 13px 13px 13px 13px;
  z-index: 1;
  background-color: var(--color-brand-mintsoft);
}

.stroke-2_535 {
  position: absolute;
  inset: 0px;
  border-radius: 13px 13px 13px 13px;
  z-index: 0;
  border-width: 1.5px 1.5px 1.5px 1.5px;
  border-color: var(--color-brand-mint);
}

.Pixso-paragraph-2_536 {
  font-size: 12px;
  font-family: "DM Sans-Bold";
  color: var(--color-brand-mint);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-frame-2_537 {
  justify-content: space-between;
  border-radius: 20px 20px 20px 20px;
  background-color: var(--color-brand-coralsoft);
}

.frame-content-2_537 {
  justify-content: space-between;
  padding: 14px 16px 14px 16px;
}

.frame-content-2_538 {
  gap: 8px;
  min-width: 0;
  padding: 1px 0px 1px 0px;
}

.Pixso-vector-2_539 {
  background-image: url(@/assets/images/circlealert.svg);
}

.Pixso-paragraph-2_543 {
  font-size: 13px;
  font-family: "Noto Sans SC-SemiBold";
  font-feature-settings: "locl" 0;
  color: var(--color-text-primary);
  width: 100%;
  min-width: 0;
  flex-grow: 1;
}

.Pixso-vector-2_544 {
  background-image: url(@/assets/images/chevronright7.svg);
}

.frame-content-2_546 {
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 21px 21px 21px;
  width: 100%;
}

.Pixso-frame-2_547,.frame-content-2_547 {
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: center;
}

.Pixso-frame-2_547 {
  border-radius: 36px 36px 36px 36px;
  z-index: 0;
  background-color: var(--color-bg-card);
}

.frame-content-2_547 {
  padding: 4px 4px 4px 4px;
}

.stroke-wrapper-2_547 {
  isolation: isolate;
  width: 100%;
  height: 62px;
}

.stroke-2_547 {
  position: absolute;
  inset: 0px;
  border-radius: 36px 36px 36px 36px;
  z-index: 1;
}

.Pixso-frame-2_548,.Pixso-frame-2_554,.Pixso-frame-2_560,.Pixso-frame-2_566,.Pixso-frame-2_573 {
  height: 54px;
  align-self: stretch;
  border-radius: 26px 26px 26px 26px;
}

.Pixso-frame-2_548 {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  flex-grow: 1;
  background-color: var(--color-brand-purple);
}

.frame-content-2_548,.frame-content-2_554,.frame-content-2_560,.frame-content-2_566,.frame-content-2_573 {
  flex-direction: column;
  gap: 3px;
  align-items: center;
  justify-content: center;
  min-width: 0;
  width: 100%;
  height: 100%;
}

.Pixso-frame-2_549,.Pixso-frame-2_555,.Pixso-frame-2_561,.Pixso-frame-2_567,.Pixso-frame-2_574 {
  width: 26px;
  height: 26px;
  border-radius: 9px 9px 9px 9px;
}

.Pixso-frame-2_549 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.180392);
}

.Pixso-vector-2_550 {
  background-image: url(@/assets/images/home1.svg);
}

.Pixso-paragraph-2_553 {
  font-size: 10px;
  font-family: "Noto Sans SC-Bold";
  color: rgba(255, 255, 255, 1);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-frame-2_554,.Pixso-frame-2_560,.Pixso-frame-2_566,.Pixso-frame-2_573 {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  flex-grow: 1;
}

.Pixso-frame-2_555 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--color-brand-mintsoft);
}

.Pixso-vector-2_556 {
  background-image: url(@/assets/images/bookopen2.svg);
}

.Pixso-paragraph-2_559,.Pixso-paragraph-2_565,.Pixso-paragraph-2_572,.Pixso-paragraph-2_578 {
  font-size: 10px;
  font-family: "Noto Sans SC-SemiBold";
  color: var(--color-text-secondary);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-frame-2_561 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--color-brand-skysoft);
}

.Pixso-vector-2_563 {
  width: 41.67%;
  height: 83.34%;
  background-image: url(@/assets/images/Vector_2_563.svg);
  position: absolute;
  left: 33.33%;
  right: 25%;
  top: 8.33%;
  bottom: 8.33%;
}

.Pixso-rectangle-2_564 {
  width: 100%;
  height: 100%;
  border-radius: 1.333333px 1.333333px 1.333333px 1.333333px;
  z-index: 0;
}

.stroke-wrapper-2_564 {
  position: absolute;
  isolation: isolate;
  right: 8.33%;
  bottom: 16.67%;
  width: 83.34%;
  height: 58.33%;
}

.stroke-2_564 {
  position: absolute;
  inset: -0.6666665px -0.6666665px -0.6666665px -0.6666665px;
  border-radius: 1.333333px 1.333333px 1.333333px 1.333333px;
  z-index: 1;
  border-width: 1.333333px 1.333333px 1.333333px 1.333333px;
  border-color: var(--color-brand-sky);
}

.Pixso-frame-2_567 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--color-brand-lemonsoft);
}

.Pixso-vector-2_568 {
  background-image: url(@/assets/images/layers1.svg);
}

.Pixso-frame-2_574 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--color-brand-coralsoft);
}

.Pixso-vector-2_575 {
  background-image: url(@/assets/images/user1.svg);
}

.Pixso-frame-2_547-content-layer {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
