
.scroll-container {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.Pixso-frame-2_720,.Pixso-frame-2_721,.frame-content-2_721,.Pixso-frame-2_746,.frame-content-2_746,.Pixso-frame-2_747,.frame-content-2_747,.Pixso-frame-2_753,.Pixso-frame-2_756,.frame-content-2_753,.frame-content-2_756 {
  flex-direction: column;
  align-items: flex-start;
}

.Pixso-frame-2_720,.Pixso-frame-2_721,.frame-content-2_721,.Pixso-frame-2_722,.Pixso-frame-2_758,.frame-content-2_722,.Pixso-frame-2_746,.frame-content-2_746,.Pixso-frame-2_747,.frame-content-2_747,.Pixso-frame-2_753,.Pixso-frame-2_756,.frame-content-2_753,.Pixso-frame-2_794,.frame-content-2_794 {
  width: 100%;
}

.Pixso-frame-2_720 {
  height: 844px;
  overflow: hidden;
  background-color: var(--color-bg-cream);
}

.frame-content-2_721 {
  gap: 8px;
  padding: 8px 20px 6px 20px;
}

.Pixso-frame-2_722,.Pixso-frame-2_758,.frame-content-2_722,.Pixso-frame-2_723,.frame-content-2_723,.frame-content-2_779,.frame-content-2_783,.frame-content-2_787,.frame-content-2_791,.frame-content-2_798,.frame-content-2_803,.Pixso-frame-2_727,.Pixso-frame-2_733,.Pixso-frame-2_738,.Pixso-frame-2_748,.frame-content-2_738,.frame-content-2_748,.Pixso-frame-2_739,.Pixso-frame-2_750,.frame-content-2_758,.Pixso-frame-2_759,.Pixso-frame-2_764,.Pixso-frame-2_769,.Pixso-frame-2_774,.Pixso-frame-2_778,.Pixso-frame-2_786,.Pixso-frame-2_790,.frame-content-2_778,.frame-content-2_782,.frame-content-2_786,.frame-content-2_790,.Pixso-frame-2_779,.Pixso-frame-2_787,.Pixso-frame-2_791,.Pixso-frame-2_782,.Pixso-frame-2_783,.Pixso-frame-2_794,.frame-content-2_794,.Pixso-frame-2_795,.frame-content-2_795,.Pixso-frame-2_798,.Pixso-frame-2_803 {
  flex-direction: row;
  align-items: center;
}

.frame-content-2_722 {
  gap: 8px;
  padding: 1px 0px 1px 0px;
}

.Pixso-frame-2_723 {
  width: 36px;
  height: 36px;
  justify-content: center;
  border-radius: 12px 12px 12px 12px;
  background-color: var(--color-bg-card);
}

.frame-content-2_723,.frame-content-2_779,.frame-content-2_783,.frame-content-2_787,.frame-content-2_791,.frame-content-2_798,.frame-content-2_803 {
  justify-content: center;
  width: 100%;
  height: 100%;
}

.Pixso-vector-2_724,.Pixso-vector-2_728,.Pixso-vector-2_734,.Pixso-vector-2_740,.Pixso-vector-2_761,.Pixso-vector-2_766,.Pixso-vector-2_771,.Pixso-frame-2_798,.Pixso-frame-2_803,.Pixso-vector-2_800,.Pixso-vector-2_801,.Pixso-vector-2_804 {
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.Pixso-vector-2_724 {
  width: 18px;
  height: 18px;
  background-image: url(@/assets/images/arrowleft.svg);
}

.Pixso-frame-2_727 {
  gap: 5px;
  padding: 7px 11px 7px 11px;
  border-radius: 14px 14px 14px 14px;
  background-color: var(--color-brand-purplesoft);
}

.Pixso-vector-2_728,.Pixso-vector-2_734 {
  width: 13px;
  height: 13px;
}

.Pixso-vector-2_728 {
  background-image: url(@/assets/images/bookopen1.svg);
}

.Pixso-paragraph-2_731,.Pixso-paragraph-2_737,.Pixso-paragraph-2_744,.Pixso-paragraph-2_745,.Pixso-paragraph-2_749,.Pixso-paragraph-2_751,.Pixso-paragraph-2_752,.Pixso-paragraph-2_754,.Pixso-text-2_755,.Pixso-paragraph-2_757,.Pixso-paragraph-2_760,.Pixso-paragraph-2_765,.Pixso-paragraph-2_770,.Pixso-paragraph-2_775,.Pixso-paragraph-2_776,.Pixso-paragraph-2_777,.Pixso-paragraph-2_780,.Pixso-paragraph-2_788,.Pixso-paragraph-2_792,.Pixso-paragraph-2_781,.Pixso-paragraph-2_789,.Pixso-paragraph-2_793,.Pixso-paragraph-2_784,.Pixso-paragraph-2_785,.Pixso-paragraph-2_796 {
  text-align: left;
  letter-spacing: 0px;
}

.Pixso-paragraph-2_731 {
  font-size: 12px;
  font-family: "Noto Sans SC-Bold";
  font-weight: 400;
  text-decoration: none;
  color: var(--color-brand-purple);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-frame-2_732,.Pixso-paragraph-2_781,.Pixso-paragraph-2_789,.Pixso-paragraph-2_793,.Pixso-paragraph-2_785,.Pixso-frame-2_795 {
  flex-shrink: 1;
  flex-basis: 0;
}

.Pixso-frame-2_732 {
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-grow: 1;
}

.Pixso-frame-2_733 {
  width: 100%;
  height: 100%;
  gap: 5px;
  padding: 7px 11px 7px 11px;
  border-radius: 14px 14px 14px 14px;
  z-index: 1;
  background-color: var(--color-bg-card);
}

.stroke-wrapper-2_733 {
  isolation: isolate;
}

.stroke-2_733,.stroke-2_778,.stroke-2_786,.stroke-2_790,.stroke-2_782,.stroke-2_794,.stroke-2_802 {
  pointer-events: none;
  border-style: solid;
  box-sizing: border-box;
}

.stroke-2_733 {
  position: absolute;
  inset: 0px;
  border-radius: 14px 14px 14px 14px;
  z-index: 0;
  border-width: 1.5px 1.5px 1.5px 1.5px;
  border-color: var(--color-brand-coral);
}

.Pixso-vector-2_734 {
  background-image: url(@/assets/images/eye.svg);
}

.Pixso-paragraph-2_737 {
  font-size: 12px;
  font-family: "Noto Sans SC-Bold";
  font-weight: 400;
  text-decoration: none;
  color: var(--color-brand-coral);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-frame-2_738,.Pixso-frame-2_748,.frame-content-2_738,.frame-content-2_748 {
  width: 100%;
  justify-content: space-between;
}

.frame-content-2_738,.frame-content-2_748 {
  padding: 1px 0px 1px 0px;
}

.Pixso-frame-2_739 {
  gap: 5px;
  padding: 1px 1px 1px 1px;
}

.Pixso-vector-2_740 {
  width: 14px;
  height: 14px;
  background-image: url(@/assets/images/timer.svg);
}

.Pixso-paragraph-2_744,.Pixso-paragraph-2_745 {
  font-weight: 400;
  text-decoration: none;
  white-space: pre;
  flex-grow: 0;
}

.Pixso-paragraph-2_744 {
  font-size: 14px;
  font-family: "DM Sans-Bold";
  color: var(--color-text-primary);
}

.Pixso-paragraph-2_745 {
  font-size: 11px;
  font-family: "Noto Sans SC-SemiBold";
  color: var(--color-brand-coral);
}

.Pixso-frame-2_746 {
  overflow: hidden;
  flex-grow: 1;
}

.frame-content-2_746 {
  gap: 12px;
  padding: 6px 20px 16px 20px;
  height: 100%;
}

.Pixso-frame-2_747 {
  border-radius: 24px 24px 24px 24px;
  background-color: var(--color-bg-card);
}

.frame-content-2_747 {
  gap: 12px;
  padding: 18px 18px 18px 18px;
}

.Pixso-paragraph-2_749 {
  font-size: 11px;
  font-family: "Noto Sans SC-Medium";
  font-weight: 400;
  text-decoration: none;
  color: var(--color-text-secondary);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-frame-2_750 {
  padding: 4px 9px 4px 9px;
  border-radius: 12px 12px 12px 12px;
  background-color: var(--color-brand-purplesoft);
}

.Pixso-paragraph-2_751,.Pixso-paragraph-2_752 {
  font-weight: 400;
  text-decoration: none;
  flex-grow: 0;
}

.Pixso-paragraph-2_751 {
  font-size: 11px;
  font-family: "Noto Sans SC-Bold";
  color: var(--color-brand-purple);
  white-space: pre;
}

.Pixso-paragraph-2_752 {
  font-size: 15px;
  font-family: "Noto Sans SC-Regular";
  line-height: 164.999998%;
  color: var(--color-text-primary);
  width: 100%;
}

.Pixso-frame-2_753,.Pixso-frame-2_756 {
  border-radius: 16px 16px 16px 16px;
  background-color: var(--color-bg-code);
}

.frame-content-2_753 {
  gap: 6px;
  padding: 14px 14px 14px 14px;
}

.Pixso-paragraph-2_754,.Pixso-text-2_755 {
  font-family: "DM Sans-Medium";
  text-decoration: none;
  flex-grow: 0;
}

.Pixso-paragraph-2_754 {
  font-size: 10px;
  font-weight: 400;
  color: var(--color-text-placeholder);
  white-space: pre;
}

.Pixso-text-2_755 {
  font-size: 12px;
  font-weight: 500;
  line-height: 169.999993%;
  color: var(--color-text-primary);
  width: 100%;
}

.Pixso-paragraph-2_755_0,.Pixso-paragraph-2_755_1,.Pixso-paragraph-2_755_2 {
  line-height: 20.4px;
}

.Pixso-span-2_755_0_1,.Pixso-span-2_755_1_1,.Pixso-span-2_755_2_1 {
  font-weight: 400;
  text-decoration: none;
  color: var(--color-text-primary);
}

.frame-content-2_756 {
  gap: 10px;
  padding: 12px 12px 12px 12px;
  width: 100%;
}

.Pixso-paragraph-2_757 {
  font-size: 10px;
  font-family: "DM Sans-Medium";
  font-weight: 400;
  text-decoration: none;
  color: var(--color-text-placeholder);
  white-space: pre;
  flex-grow: 0;
}

.frame-content-2_758 {
  gap: 5px;
  padding: 1px 0px 1px 0px;
  width: 100%;
}

.Pixso-frame-2_759,.Pixso-frame-2_764,.Pixso-frame-2_769,.Pixso-frame-2_774 {
  padding: 6px 9px 6px 9px;
  border-radius: 10px 10px 10px 10px;
}

.Pixso-frame-2_759 {
  background-color: var(--color-brand-purplesoft);
}

.Pixso-paragraph-2_760 {
  font-size: 11px;
  font-family: "Noto Sans SC-SemiBold";
  font-weight: 400;
  text-decoration: none;
  color: var(--color-brand-purple);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-vector-2_761,.Pixso-vector-2_766,.Pixso-vector-2_771 {
  width: 12px;
  height: 12px;
}

.Pixso-vector-2_761 {
  background-image: url(@/assets/images/arrowright2.svg);
}

.Pixso-frame-2_764 {
  background-color: var(--color-brand-mintsoft);
}

.Pixso-paragraph-2_765 {
  font-size: 11px;
  font-family: "DM Sans-Bold";
  font-weight: 400;
  text-decoration: none;
  color: var(--color-brand-mint);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-vector-2_766 {
  background-image: url(@/assets/images/arrowright0.svg);
}

.Pixso-frame-2_769 {
  background-color: var(--color-brand-lemonsoft);
}

.Pixso-paragraph-2_770 {
  font-size: 11px;
  font-family: "DM Sans-Bold";
  font-weight: 400;
  text-decoration: none;
  color: var(--color-brand-lemon);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-vector-2_771 {
  background-image: url(@/assets/images/arrowright1.svg);
}

.Pixso-frame-2_774 {
  background-color: var(--color-brand-coralsoft);
}

.Pixso-paragraph-2_775,.Pixso-paragraph-2_776,.Pixso-paragraph-2_777 {
  font-weight: 400;
  text-decoration: none;
  flex-grow: 0;
}

.Pixso-paragraph-2_775 {
  font-size: 11px;
  font-family: "Noto Sans SC-SemiBold";
  color: var(--color-brand-coral);
  white-space: pre;
}

.Pixso-paragraph-2_776 {
  font-size: 12px;
  font-family: "DM Sans-Medium";
  line-height: 179.999995%;
  color: var(--color-text-secondary);
  white-space: pre-wrap;
  width: 100%;
}

.Pixso-paragraph-2_777 {
  font-size: 12px;
  font-family: "Noto Sans SC-Bold";
  color: var(--color-brand-purple);
  white-space: pre;
}

.Pixso-frame-2_778,.Pixso-frame-2_786,.Pixso-frame-2_790 {
  width: 100%;
  height: 100%;
  border-radius: 16px 16px 16px 16px;
  z-index: 1;
  background-color: var(--color-bg-card);
}

.frame-content-2_778,.frame-content-2_782,.frame-content-2_786,.frame-content-2_790 {
  gap: 12px;
  padding: 14px 16px 14px 16px;
  width: 100%;
}

.stroke-wrapper-2_778,.stroke-wrapper-2_782,.stroke-wrapper-2_786,.stroke-wrapper-2_790,.stroke-wrapper-2_794 {
  isolation: isolate;
  width: 100%;
}

.stroke-2_778,.stroke-2_786,.stroke-2_790 {
  position: absolute;
  inset: 0px;
  border-radius: 16px 16px 16px 16px;
  z-index: 0;
  border-width: 1.5px 1.5px 1.5px 1.5px;
  border-color: var(--color-border-base);
}

.Pixso-frame-2_779,.Pixso-frame-2_787,.Pixso-frame-2_791,.Pixso-frame-2_783 {
  width: 32px;
  height: 32px;
}

.Pixso-frame-2_779,.Pixso-frame-2_787,.Pixso-frame-2_791 {
  justify-content: center;
  border-radius: 16px 16px 16px 16px;
  background-color: var(--color-bg-input);
}

.Pixso-paragraph-2_780,.Pixso-paragraph-2_788,.Pixso-paragraph-2_792 {
  font-size: 14px;
  font-family: "DM Sans-Bold";
  font-weight: 400;
  text-decoration: none;
  color: var(--color-text-secondary);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-paragraph-2_781,.Pixso-paragraph-2_789,.Pixso-paragraph-2_793 {
  font-size: 14px;
  font-family: "DM Sans-Medium";
  font-weight: 400;
  font-feature-settings: "locl" 0;
  text-decoration: none;
  color: var(--color-text-primary);
  width: 100%;
  min-width: 0;
  flex-grow: 1;
}

.Pixso-frame-2_782 {
  width: 100%;
  height: 100%;
  border-radius: 16px 16px 16px 16px;
  z-index: 1;
  background-color: var(--color-brand-purplesoft);
}

.stroke-2_782 {
  position: absolute;
  inset: 0px;
  border-radius: 16px 16px 16px 16px;
  z-index: 0;
  border-width: 2px 2px 2px 2px;
  border-color: var(--color-brand-purple);
}

.Pixso-frame-2_783 {
  justify-content: center;
  border-radius: 16px 16px 16px 16px;
  background-color: var(--color-brand-purple);
}

.Pixso-paragraph-2_784,.Pixso-paragraph-2_785 {
  font-size: 14px;
  font-family: "DM Sans-Bold";
  font-weight: 400;
  text-decoration: none;
}

.Pixso-paragraph-2_784 {
  color: rgba(255, 255, 255, 1);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-paragraph-2_785 {
  font-feature-settings: "locl" 0;
  color: var(--color-brand-purple);
  width: 100%;
  min-width: 0;
  flex-grow: 1;
}

.Pixso-frame-2_794 {
  height: 100%;
  z-index: 1;
  background-color: var(--color-bg-cream);
}

.frame-content-2_794 {
  gap: 10px;
  padding: 12px 20px 24px 20px;
}

.stroke-2_794 {
  position: absolute;
  inset: 0px;
  border-radius: 0px 0px 0px 0px;
  z-index: 0;
  border-width: 1px 0px 0px 0px;
  border-color: var(--color-border-base);
}

.Pixso-frame-2_795,.frame-content-2_795 {
  width: 100%;
  min-width: 0;
}

.Pixso-frame-2_795 {
  height: 48px;
  flex-grow: 1;
  border-radius: 16px 16px 16px 16px;
  background-color: var(--color-bg-input);
}

.frame-content-2_795 {
  gap: 3px;
  padding: 0px 16px 0px 16px;
  height: 100%;
}

.Pixso-paragraph-2_796 {
  font-size: 15px;
  font-family: "DM Sans-Bold";
  font-weight: 400;
  text-decoration: none;
  color: var(--color-text-primary);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-frame-2_797 {
  width: 2px;
  height: 18px;
  border-radius: 1px 1px 1px 1px;
  background-color: var(--color-brand-purple);
}

.Pixso-frame-2_798,.Pixso-frame-2_803 {
  width: 48px;
  height: 48px;
  justify-content: center;
  border-radius: 24px 24px 24px 24px;
  background-image: linear-gradient(135deg, var(--color-brand-purple), var(--color-brand-purplelight));
  background-position: center;
}

.Pixso-frame-2_799,.Pixso-vector-2_804 {
  width: 20px;
  height: 20px;
}

.Pixso-vector-2_800,.Pixso-vector-2_801 {
  position: absolute;
}

.Pixso-vector-2_800 {
  width: 8.33%;
  height: 20.83%;
  background-image: url(@/assets/images/Vector_2_800.svg);
  left: 50%;
  right: 41.67%;
  top: 79.17%;
  bottom: 0%;
}

.Pixso-vector-2_801 {
  width: 66.67%;
  height: 45.87%;
  background-image: url(@/assets/images/Vector_2_801.svg);
  left: 20.83%;
  right: 12.5%;
  top: 41.67%;
  bottom: 12.46%;
}

.Pixso-rectangle-2_802 {
  width: 100%;
  height: 100%;
  border-radius: 2.5px 2.5px 2.5px 2.5px;
  z-index: 0;
}

.stroke-wrapper-2_802 {
  position: absolute;
  isolation: isolate;
  left: 37.5%;
  top: 8.33%;
  right: 37.5%;
  bottom: 37.5%;
  width: 25%;
  height: 54.17%;
}

.stroke-2_802 {
  position: absolute;
  inset: -0.8333335px -0.8333335px -0.8333335px -0.8333335px;
  border-radius: 2.5px 2.5px 2.5px 2.5px;
  z-index: 1;
  border-width: 1.666667px 1.666667px 1.666667px 1.666667px;
  border-color: rgba(255, 255, 255, 1);
}

.Pixso-vector-2_804 {
  background-image: url(@/assets/images/arrowup.svg);
}
