
.scroll-container {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.Pixso-frame-2_1579 {
  width: 100%;
  height: 844px;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--color-bg-cream);
}

.Pixso-frame-2_1580,.frame-content-2_1580,.Pixso-frame-2_1609,.frame-content-2_1609 {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Pixso-frame-2_1580 {
  height: 62px;
}

.frame-content-2_1580 {
  padding: 0px 20px 0px 20px;
  height: 100%;
}

.Pixso-paragraph-2_1581,.Pixso-paragraph-2_1605,.Pixso-paragraph-2_1610,.Pixso-paragraph-2_1628,.Pixso-paragraph-2_1612,.Pixso-paragraph-2_1619,.Pixso-paragraph-2_1630,.Pixso-paragraph-2_1637,.Pixso-paragraph-2_1622,.Pixso-paragraph-2_1625,.Pixso-paragraph-2_1636,.Pixso-paragraph-2_1638,.Pixso-paragraph-2_1640,.Pixso-paragraph-2_1643,.Pixso-paragraph-2_1648,.Pixso-paragraph-2_1654,.Pixso-paragraph-2_1655,.Pixso-paragraph-2_1658 {
  font-weight: 400;
  text-align: left;
  letter-spacing: 0px;
  text-decoration: none;
  flex-grow: 0;
}

.Pixso-paragraph-2_1581 {
  font-size: 15px;
  font-family: "DM Sans-Medium";
  color: var(--color-text-primary);
  white-space: pre;
}

.Pixso-frame-2_1582 {
  flex-direction: row;
  gap: 6px;
  align-items: center;
  padding: 1px 1px 1px 1px;
}

.Pixso-vector-2_1583,.Pixso-vector-2_1589,.Pixso-vector-2_1595,.Pixso-vector-2_1596,.Pixso-vector-2_1597,.Pixso-vector-2_1598,.Pixso-vector-2_1602,.Pixso-vector-2_1617,.Pixso-frame-2_1624,.Pixso-vector-2_1656 {
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.Pixso-vector-2_1583,.Pixso-vector-2_1589 {
  width: 16px;
  height: 16px;
}

.Pixso-vector-2_1583 {
  background-image: url(@/assets/images/signal5.svg);
}

.Pixso-vector-2_1589 {
  background-image: url(@/assets/images/wifi5.svg);
}

.Pixso-frame-2_1594,.Pixso-vector-2_1602 {
  width: 18px;
  height: 18px;
}

.Pixso-vector-2_1595,.Pixso-vector-2_1596,.Pixso-vector-2_1597,.Pixso-vector-2_1598 {
  height: 25%;
  position: absolute;
  top: 41.67%;
  bottom: 33.33%;
}

.Pixso-vector-2_1595 {
  width: 8.33%;
  background-image: url(@/assets/images/Vector_2_1595.svg);
  left: 41.67%;
  right: 50%;
}

.Pixso-vector-2_1596 {
  width: 8.34%;
  background-image: url(@/assets/images/Vector_2_1596.svg);
  left: 58.33%;
  right: 33.33%;
}

.Pixso-vector-2_1597 {
  width: 8.33%;
  background-image: url(@/assets/images/Vector_2_1597.svg);
  left: 91.67%;
  right: 0%;
}

.Pixso-vector-2_1598 {
  width: 8.33%;
  background-image: url(@/assets/images/Vector_2_1598.svg);
  left: 25%;
  right: 66.67%;
}

.Pixso-rectangle-2_1599 {
  width: 100%;
  height: 100%;
  border-radius: 1.5px 1.5px 1.5px 1.5px;
  z-index: 0;
}

.stroke-wrapper-2_1599 {
  position: absolute;
  isolation: isolate;
  left: 8.33%;
  top: 25%;
  right: 25%;
  bottom: 25%;
  width: 66.67%;
  height: 50%;
}

.stroke-2_1599,.stroke-2_1615,.stroke-2_1621,.stroke-2_1624,.stroke-2_1633 {
  pointer-events: none;
  border-style: solid;
  box-sizing: border-box;
}

.stroke-2_1599 {
  position: absolute;
  inset: -0.75px -0.75px -0.75px -0.75px;
  border-radius: 1.5px 1.5px 1.5px 1.5px;
  z-index: 1;
  border-width: 1.5px 1.5px 1.5px 1.5px;
  border-color: var(--color-text-primary);
}

.Pixso-frame-2_1600,.Pixso-frame-2_1613,.frame-content-2_1600 {
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.frame-content-2_1600 {
  gap: 10px;
  padding: 10px 20px 6px 20px;
}

.Pixso-frame-2_1601,.frame-content-2_1601,.frame-content-2_1616 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Pixso-frame-2_1601 {
  width: 36px;
  height: 36px;
  border-radius: 12px 12px 12px 12px;
  background-color: var(--color-bg-card);
}

.frame-content-2_1601,.frame-content-2_1616 {
  width: 100%;
  height: 100%;
}

.Pixso-vector-2_1602 {
  background-image: url(@/assets/images/arrowleft3.svg);
}

.Pixso-paragraph-2_1605 {
  font-size: var(--font-h2);
  font-family: "Noto Sans SC-ExtraBold";
  color: var(--color-text-primary);
  white-space: pre;
}

.Pixso-frame-2_1606,.Pixso-frame-2_1614,.Pixso-frame-2_1620,.Pixso-frame-2_1623,.Pixso-frame-2_1634 {
  flex-shrink: 1;
  flex-basis: 0;
}

.Pixso-frame-2_1606 {
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-grow: 1;
}

.Pixso-frame-2_1607,.frame-content-2_1607,.Pixso-frame-2_1608,.frame-content-2_1608 {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.Pixso-frame-2_1607 {
  overflow: hidden;
  flex-grow: 1;
}

.frame-content-2_1607 {
  gap: 14px;
  padding: 6px 20px 20px 20px;
  height: 100%;
}

.Pixso-frame-2_1608,.Pixso-frame-2_1626,.Pixso-frame-2_1641 {
  border-radius: 24px 24px 24px 24px;
  background-color: var(--color-bg-card);
}

.frame-content-2_1608,.frame-content-2_1626 {
  gap: 14px;
  padding: 18px 18px 18px 18px;
}

.frame-content-2_1609,.frame-content-2_1627,.frame-content-2_1635 {
  padding: 1px 0px 1px 0px;
}

.Pixso-paragraph-2_1610,.Pixso-paragraph-2_1628 {
  font-size: 15px;
  font-family: "Noto Sans SC-Bold";
  color: var(--color-text-primary);
  white-space: pre;
}

.Pixso-frame-2_1611,.Pixso-frame-2_1629 {
  flex-direction: row;
  gap: 4px;
  align-items: center;
  padding: 5px 10px 5px 10px;
  border-radius: 12px 12px 12px 12px;
  background-color: var(--color-brand-purplesoft);
}

.Pixso-paragraph-2_1612,.Pixso-paragraph-2_1619,.Pixso-paragraph-2_1630,.Pixso-paragraph-2_1637 {
  font-size: 11px;
  font-family: "Noto Sans SC-Bold";
  color: var(--color-brand-purple);
  white-space: pre;
}

.frame-content-2_1613,.Pixso-frame-2_1614,.frame-content-2_1614 {
  align-items: center;
  width: 100%;
}

.frame-content-2_1613 {
  flex-direction: row;
  gap: 10px;
  padding: 1px 0px 1px 0px;
}

.Pixso-frame-2_1614 {
  flex-direction: column;
  min-width: 0;
  flex-grow: 1;
}

.frame-content-2_1614 {
  flex-direction: column;
  gap: 6px;
  min-width: 0;
  padding: 1px 1px 1px 1px;
}

.Pixso-frame-2_1615,.frame-content-2_1615 {
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

.Pixso-frame-2_1615 {
  border-radius: 16px 16px 16px 16px;
  z-index: 0;
  background-color: var(--color-bg-cream);
}

.frame-content-2_1615 {
  padding: 6px 6px 6px 6px;
}

.stroke-wrapper-2_1615 {
  isolation: isolate;
  width: 100%;
  height: 64px;
}

.stroke-2_1615 {
  position: absolute;
  inset: 0px;
  border-radius: 16px 16px 16px 16px;
  z-index: 1;
  border-width: 2px 2px 2px 2px;
  border-color: var(--color-brand-purple);
}

.Pixso-frame-2_1616 {
  width: 20px;
  height: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  background-color: var(--color-brand-purple);
}

.Pixso-vector-2_1617 {
  width: 12px;
  height: 12px;
  background-image: url(@/assets/images/check2.svg);
}

.Pixso-frame-2_1615-content-layer {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.Pixso-frame-2_1620,.Pixso-frame-2_1623 {
  width: 100%;
  flex-direction: column;
  align-items: center;
  min-width: 0;
  flex-grow: 1;
}

.frame-content-2_1620,.frame-content-2_1623 {
  flex-direction: column;
  gap: 6px;
  align-items: center;
  min-width: 0;
  padding: 1px 1px 1px 1px;
  width: 100%;
}

.Pixso-frame-2_1621 {
  width: 100%;
  height: 100%;
  border-radius: 16px 16px 16px 16px;
  z-index: 0;
  background-color: var(--color-bg-card);
}

.stroke-wrapper-2_1621,.stroke-wrapper-2_1624 {
  isolation: isolate;
  width: 100%;
  height: 64px;
}

.stroke-2_1621,.stroke-2_1624,.stroke-2_1633 {
  inset: 0px;
  z-index: 1;
}

.stroke-2_1621,.stroke-2_1624 {
  position: absolute;
  border-radius: 16px 16px 16px 16px;
  border-width: 1px 1px 1px 1px;
  border-color: var(--color-border-base);
}

.Pixso-paragraph-2_1622,.Pixso-paragraph-2_1625 {
  font-size: 11px;
  font-family: "Noto Sans SC-Medium";
  color: var(--color-text-secondary);
  white-space: pre;
}

.Pixso-frame-2_1624 {
  width: 100%;
  height: 100%;
  border-radius: 16px 16px 16px 16px;
  z-index: 0;
  background-image: linear-gradient(135deg, var(--color-brand-purple), var(--color-brand-purplelight));
  background-position: center;
}

.Pixso-frame-2_1626,.Pixso-frame-2_1641,.frame-content-2_1626,.Pixso-frame-2_1639,.frame-content-2_1639 {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.Pixso-frame-2_1627,.Pixso-frame-2_1635,.Pixso-frame-2_1642,.Pixso-frame-2_1647,.Pixso-frame-2_1652,.frame-content-2_1627,.frame-content-2_1635 {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Pixso-frame-2_1631,.frame-content-2_1631 {
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.Pixso-frame-2_1631 {
  height: 20px;
}

.frame-content-2_1631 {
  height: 100%;
}

.Pixso-frame-2_1632,.Pixso-frame-2_1634 {
  height: 6px;
  border-radius: 3px 3px 3px 3px;
}

.Pixso-frame-2_1632 {
  width: 170px;
  background-color: var(--color-brand-purple);
}

.Pixso-frame-2_1633 {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 10px 10px;
  z-index: 0;
  background-color: var(--color-bg-card);
}

.stroke-wrapper-2_1633 {
  isolation: isolate;
  width: 20px;
  height: 20px;
}

.stroke-2_1633 {
  position: absolute;
  border-radius: 10px 10px 10px 10px;
  border-width: 2.5px 2.5px 2.5px 2.5px;
  border-color: var(--color-brand-purple);
}

.Pixso-frame-2_1634 {
  width: 100%;
  min-width: 0;
  flex-grow: 1;
  background-color: var(--color-bg-input);
}

.Pixso-paragraph-2_1636,.Pixso-paragraph-2_1638 {
  font-family: "Noto Sans SC-Medium";
  color: var(--color-text-placeholder);
  white-space: pre;
}

.Pixso-paragraph-2_1636 {
  font-size: 11px;
}

.Pixso-paragraph-2_1638 {
  font-size: 13px;
}

.Pixso-frame-2_1639 {
  border-radius: 12px 12px 12px 12px;
  background-color: var(--color-bg-input);
}

.frame-content-2_1639 {
  padding: 11px 13px 11px 13px;
}

.Pixso-paragraph-2_1640 {
  font-size: 14px;
  font-family: "Noto Sans SC-Regular";
  line-height: 164.999998%;
  color: var(--color-text-primary);
  width: 100%;
}

.frame-content-2_1641 {
  flex-direction: column;
  align-items: flex-start;
  padding: 6px 16px 6px 16px;
  width: 100%;
}

.frame-content-2_1642,.frame-content-2_1647,.frame-content-2_1652 {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0px 12px 0px;
  width: 100%;
}

.Pixso-paragraph-2_1643,.Pixso-paragraph-2_1648,.Pixso-paragraph-2_1654 {
  font-size: 14px;
  font-family: "Noto Sans SC-SemiBold";
  color: var(--color-text-primary);
  white-space: pre;
}

.Pixso-frame-2_1644,.Pixso-frame-2_1649 {
  width: 46px;
  height: 28px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  border-radius: 14px 14px 14px 14px;
  background-color: var(--color-brand-purple);
}

.frame-content-2_1644,.frame-content-2_1649 {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 3px 3px 3px 3px;
  width: 100%;
  height: 100%;
}

.Pixso-frame-2_1645,.Pixso-frame-2_1650 {
  width: 22px;
  height: 22px;
  border-radius: 11px 11px 11px 11px;
  background-color: var(--color-bg-card);
}

.Pixso-frame-2_1646,.Pixso-frame-2_1651 {
  width: 100%;
  height: 1px;
  background-color: var(--color-border-base);
}

.Pixso-frame-2_1653 {
  flex-direction: row;
  gap: 8px;
  align-items: center;
  padding: 1px 1px 1px 1px;
}

.Pixso-paragraph-2_1655 {
  font-size: 12px;
  font-family: "DM Sans-Medium";
  color: var(--color-text-placeholder);
  white-space: pre;
}

.Pixso-vector-2_1656 {
  width: 18px;
  height: 18px;
  background-image: url(@/assets/images/chevronright13.svg);
}

.Pixso-paragraph-2_1658 {
  font-size: 11px;
  font-family: "Noto Sans SC-Regular";
  color: var(--color-text-placeholder);
  white-space: pre;
}
