
.scroll-container {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.Pixso-frame-2_965 {
  width: 100%;
  height: 844px;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--color-bg-cream);
}

.Pixso-frame-2_966,.Pixso-frame-2_981,.Pixso-frame-2_986,.Pixso-frame-2_990,.Pixso-frame-2_994,.Pixso-frame-2_998,.frame-content-2_966,.Pixso-frame-2_1033,.frame-content-2_1033 {
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.frame-content-2_966 {
  gap: 8px;
  padding: 8px 20px 6px 20px;
}

.Pixso-frame-2_967 {
  width: 36px;
  height: 36px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 12px 12px 12px 12px;
  background-color: var(--color-bg-card);
}

.frame-content-2_967,.frame-content-2_982,.frame-content-2_987,.frame-content-2_991,.frame-content-2_995,.frame-content-2_999,.frame-content-2_1035 {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.Pixso-vector-2_968,.Pixso-vector-2_972,.Pixso-vector-2_983,.Pixso-vector-2_1005,.Pixso-vector-2_1018,.Pixso-vector-2_1023,.Pixso-vector-2_1028,.Pixso-vector-2_1037,.Pixso-vector-2_1038,.Pixso-frame-2_1049 {
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.Pixso-vector-2_968 {
  width: 18px;
  height: 18px;
  background-image: url(@/assets/images/arrowleft1.svg);
}

.Pixso-frame-2_971 {
  flex-direction: row;
  gap: 5px;
  align-items: center;
  padding: 7px 11px 7px 11px;
  border-radius: 14px 14px 14px 14px;
  background-color: var(--color-brand-purplesoft);
}

.Pixso-vector-2_972 {
  width: 13px;
  height: 13px;
  background-image: url(@/assets/images/bookopen5.svg);
}

.Pixso-paragraph-2_975,.Pixso-paragraph-2_978,.Pixso-paragraph-2_985,.Pixso-paragraph-2_989,.Pixso-paragraph-2_993,.Pixso-paragraph-2_997,.Pixso-paragraph-2_1001,.Pixso-paragraph-2_1010,.Pixso-paragraph-2_1011,.Pixso-text-2_1012,.Pixso-paragraph-2_1014,.Pixso-paragraph-2_1043,.Pixso-paragraph-2_1047,.Pixso-paragraph-2_1017,.Pixso-paragraph-2_1022,.Pixso-paragraph-2_1027,.Pixso-paragraph-2_1032,.Pixso-paragraph-2_1034,.Pixso-paragraph-2_1042,.Pixso-paragraph-2_1046,.Pixso-paragraph-2_1050 {
  font-weight: 400;
  text-align: left;
  letter-spacing: 0px;
}

.Pixso-paragraph-2_975 {
  font-size: 12px;
  font-family: "Noto Sans SC-Bold";
  text-decoration: none;
  color: var(--color-brand-purple);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-frame-2_976,.Pixso-paragraph-2_985,.Pixso-paragraph-2_989,.Pixso-paragraph-2_993,.Pixso-paragraph-2_997,.Pixso-paragraph-2_1001,.Pixso-paragraph-2_1034,.Pixso-frame-2_1041,.Pixso-frame-2_1045,.Pixso-frame-2_1049 {
  flex-shrink: 1;
  flex-basis: 0;
}

.Pixso-frame-2_976 {
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-grow: 1;
}

.Pixso-frame-2_977 {
  width: 100%;
  height: 100%;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  padding: 7px 11px 7px 11px;
  border-radius: 14px 14px 14px 14px;
  z-index: 1;
  background-color: var(--color-bg-card);
}

.stroke-wrapper-2_977 {
  isolation: isolate;
}

.stroke-2_977,.stroke-2_1039,.stroke-2_1048 {
  pointer-events: none;
  border-style: solid;
  box-sizing: border-box;
}

.stroke-2_977 {
  position: absolute;
  inset: 0px;
  border-radius: 14px 14px 14px 14px;
  z-index: 0;
  border-width: 1.5px 1.5px 1.5px 1.5px;
  border-color: var(--color-brand-purple);
}

.Pixso-paragraph-2_978 {
  font-size: 12px;
  font-family: "DM Sans-Bold";
  text-decoration: none;
  color: var(--color-brand-purple);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-frame-2_979,.frame-content-2_979,.Pixso-frame-2_980,.Pixso-frame-2_1002,.frame-content-2_980,.Pixso-frame-2_1013,.frame-content-2_1013 {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.Pixso-frame-2_979 {
  overflow: hidden;
  flex-grow: 1;
}

.frame-content-2_979 {
  gap: 14px;
  padding: 6px 20px 16px 20px;
  height: 100%;
}

.Pixso-frame-2_980,.Pixso-frame-2_1002 {
  border-radius: 24px 24px 24px 24px;
  background-color: var(--color-bg-card);
}

.frame-content-2_980 {
  gap: 11px;
  padding: 18px 18px 18px 18px;
}

.frame-content-2_981,.frame-content-2_986,.frame-content-2_990,.frame-content-2_994,.frame-content-2_998 {
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding: 1px 0px 1px 0px;
  width: 100%;
}

.Pixso-frame-2_982,.Pixso-frame-2_987,.Pixso-frame-2_991,.Pixso-frame-2_995,.Pixso-frame-2_999 {
  width: 20px;
  height: 20px;
  border-radius: 10px 10px 10px 10px;
}

.Pixso-frame-2_982 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--color-brand-mint);
}

.Pixso-vector-2_983,.Pixso-vector-2_1005 {
  width: 12px;
  height: 12px;
}

.Pixso-vector-2_983 {
  background-image: url(@/assets/images/check0.svg);
}

.Pixso-paragraph-2_985,.Pixso-paragraph-2_989,.Pixso-paragraph-2_993,.Pixso-paragraph-2_997,.Pixso-paragraph-2_1001,.Pixso-paragraph-2_1034 {
  font-size: 13px;
  font-feature-settings: "locl" 0;
}

.Pixso-paragraph-2_985 {
  font-family: "Noto Sans SC-Medium";
  text-decoration: none;
  color: var(--color-text-secondary);
  width: 100%;
  min-width: 0;
  flex-grow: 1;
}

.Pixso-frame-2_987 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--color-brand-purple);
}

.Pixso-frame-2_988 {
  width: 8px;
  height: 8px;
  border-radius: 4px 4px 4px 4px;
  background-color: rgba(255, 255, 255, 1);
}

.Pixso-paragraph-2_989 {
  font-family: "Noto Sans SC-Bold";
  text-decoration: none;
  color: var(--color-text-primary);
  width: 100%;
  min-width: 0;
  flex-grow: 1;
}

.Pixso-frame-2_991,.Pixso-frame-2_995,.Pixso-frame-2_999 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg-input);
}

.Pixso-frame-2_992,.Pixso-frame-2_996,.Pixso-frame-2_1000 {
  width: 6px;
  height: 6px;
  border-radius: 3px 3px 3px 3px;
  background-color: var(--color-text-placeholder);
}

.Pixso-paragraph-2_993,.Pixso-paragraph-2_997,.Pixso-paragraph-2_1001 {
  font-family: "Noto Sans SC-Medium";
  text-decoration: none;
  color: var(--color-text-placeholder);
  width: 100%;
  min-width: 0;
  flex-grow: 1;
}

.frame-content-2_1002 {
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  padding: 18px 18px 18px 18px;
  width: 100%;
}

.Pixso-frame-2_1003,.frame-content-2_1003 {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.frame-content-2_1003 {
  padding: 1px 0px 1px 0px;
}

.Pixso-frame-2_1004 {
  flex-direction: row;
  gap: 5px;
  align-items: center;
  padding: 5px 10px 5px 10px;
  border-radius: 12px 12px 12px 12px;
  background-color: var(--color-brand-purplesoft);
}

.Pixso-vector-2_1005 {
  background-image: url(@/assets/images/sparkles3.svg);
}

.Pixso-paragraph-2_1010,.Pixso-paragraph-2_1011,.Pixso-text-2_1012 {
  text-decoration: none;
  flex-grow: 0;
}

.Pixso-paragraph-2_1010 {
  font-size: 11px;
  font-family: "Noto Sans SC-Bold";
  color: var(--color-brand-purple);
  white-space: pre;
}

.Pixso-paragraph-2_1011 {
  font-size: 11px;
  font-family: "Noto Sans SC-SemiBold";
  color: var(--color-brand-mint);
  white-space: pre;
}

.Pixso-text-2_1012 {
  font-size: 14px;
  font-family: "Noto Sans SC-Regular";
  line-height: 175%;
  color: var(--color-text-primary);
  width: 100%;
}

.Pixso-paragraph-2_1012_0,.Pixso-paragraph-2_1012_1,.Pixso-paragraph-2_1012_2 {
  line-height: 24.5px;
}

.Pixso-span-2_1012_0_1,.Pixso-span-2_1012_2_1 {
  text-decoration: none;
  color: var(--color-text-primary);
}

.Pixso-frame-2_1013 {
  border-radius: 16px 16px 16px 16px;
  background-color: var(--color-bg-code);
}

.frame-content-2_1013 {
  gap: 8px;
  padding: 12px 12px 12px 12px;
}

.Pixso-paragraph-2_1014,.Pixso-paragraph-2_1043,.Pixso-paragraph-2_1047 {
  font-size: 10px;
  font-family: "DM Sans-Medium";
  text-decoration: none;
  color: var(--color-text-placeholder);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-frame-2_1015,.frame-content-2_1015 {
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.frame-content-2_1015 {
  gap: 5px;
  padding: 1px 0px 1px 0px;
}

.Pixso-frame-2_1016,.Pixso-frame-2_1021,.Pixso-frame-2_1026,.Pixso-frame-2_1031 {
  padding: 7px 12px 7px 12px;
  border-radius: 11px 11px 11px 11px;
}

.Pixso-frame-2_1016 {
  flex-direction: row;
  align-items: center;
  background-color: var(--color-brand-purplesoft);
}

.Pixso-paragraph-2_1017 {
  font-size: 11px;
  font-family: "Noto Sans SC-SemiBold";
  text-decoration: none;
  color: var(--color-brand-purple);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-vector-2_1018,.Pixso-vector-2_1023,.Pixso-vector-2_1028 {
  width: 14px;
  height: 14px;
}

.Pixso-vector-2_1018 {
  background-image: url(@/assets/images/arrowdown1.svg);
}

.Pixso-frame-2_1021 {
  flex-direction: row;
  align-items: center;
  background-color: var(--color-brand-mintsoft);
}

.Pixso-paragraph-2_1022 {
  font-size: 11px;
  font-family: "DM Sans-Bold";
  text-decoration: none;
  color: var(--color-brand-mint);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-vector-2_1023 {
  background-image: url(@/assets/images/arrowdown.svg);
}

.Pixso-frame-2_1026 {
  flex-direction: row;
  align-items: center;
  background-color: var(--color-brand-lemonsoft);
}

.Pixso-paragraph-2_1027 {
  font-size: 11px;
  font-family: "DM Sans-Bold";
  text-decoration: none;
  color: var(--color-brand-lemon);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-vector-2_1028 {
  background-image: url(@/assets/images/arrowdown0.svg);
}

.Pixso-frame-2_1031 {
  flex-direction: row;
  align-items: center;
  background-color: var(--color-brand-coralsoft);
}

.Pixso-paragraph-2_1032 {
  font-size: 11px;
  font-family: "DM Sans-Bold";
  text-decoration: none;
  color: var(--color-brand-coral);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-frame-2_1033 {
  border-radius: 16px 16px 16px 16px;
  background-color: var(--color-bg-input);
}

.frame-content-2_1033 {
  gap: 8px;
  padding: 12px 14px 12px 14px;
}

.Pixso-paragraph-2_1034 {
  font-family: "Noto Sans SC-Regular";
  text-decoration: none;
  color: var(--color-text-placeholder);
  width: 100%;
  min-width: 0;
  flex-grow: 1;
}

.Pixso-frame-2_1035 {
  width: 32px;
  height: 32px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 16px 16px 16px 16px;
  background-color: var(--color-brand-purple);
}

.Pixso-frame-2_1036 {
  width: 16px;
  height: 16px;
}

.Pixso-vector-2_1037,.Pixso-vector-2_1038 {
  position: absolute;
}

.Pixso-vector-2_1037 {
  width: 8.33%;
  height: 20.83%;
  background-image: url(@/assets/images/Vector_2_1037.svg);
  left: 50%;
  right: 41.67%;
  top: 79.17%;
  bottom: 0%;
}

.Pixso-vector-2_1038 {
  width: 66.67%;
  height: 45.87%;
  background-image: url(@/assets/images/Vector_2_1038.svg);
  left: 20.83%;
  right: 12.5%;
  top: 41.67%;
  bottom: 12.46%;
}

.Pixso-rectangle-2_1039 {
  width: 100%;
  height: 100%;
  border-radius: 2px 2px 2px 2px;
  z-index: 0;
}

.stroke-wrapper-2_1039 {
  position: absolute;
  isolation: isolate;
  left: 37.5%;
  top: 8.33%;
  right: 37.5%;
  bottom: 37.5%;
  width: 25%;
  height: 54.17%;
}

.stroke-2_1039 {
  position: absolute;
  inset: -0.6666665px -0.6666665px -0.6666665px -0.6666665px;
  border-radius: 2px 2px 2px 2px;
  z-index: 1;
  border-width: 1.333333px 1.333333px 1.333333px 1.333333px;
  border-color: rgba(255, 255, 255, 1);
}

.Pixso-frame-2_1040,.Pixso-frame-2_1044,.frame-content-2_1040,.frame-content-2_1044 {
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

.frame-content-2_1040,.frame-content-2_1044 {
  padding: 1px 80px 1px 0px;
}

.Pixso-frame-2_1041,.Pixso-frame-2_1045 {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  flex-grow: 1;
  border-radius: 18px 18px 4px 18px;
  background-color: var(--color-brand-purplesoft);
}

.frame-content-2_1041,.frame-content-2_1045 {
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  min-width: 0;
  padding: 12px 14px 12px 14px;
  width: 100%;
}

.Pixso-paragraph-2_1042,.Pixso-paragraph-2_1046 {
  font-size: 14px;
  font-family: "Noto Sans SC-Regular";
  line-height: 164.999998%;
  text-decoration: none;
  color: var(--color-text-primary);
  width: 100%;
  flex-grow: 0;
}

.Pixso-frame-2_1048,.frame-content-2_1048 {
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
}

.Pixso-frame-2_1048 {
  height: 100%;
  z-index: 1;
  background-color: var(--color-bg-cream);
}

.frame-content-2_1048 {
  padding: 12px 20px 24px 20px;
}

.stroke-wrapper-2_1048 {
  isolation: isolate;
  width: 100%;
}

.stroke-2_1048 {
  position: absolute;
  inset: 0px;
  border-radius: 0px 0px 0px 0px;
  z-index: 0;
  border-width: 1px 0px 0px 0px;
  border-color: var(--color-border-base);
}

.Pixso-frame-2_1049,.frame-content-2_1049 {
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
}

.Pixso-frame-2_1049 {
  height: 48px;
  flex-grow: 1;
  border-radius: 14px 14px 14px 14px;
  background-image: linear-gradient(135deg, var(--color-brand-purple), var(--color-brand-purplelight));
  background-position: center;
}

.frame-content-2_1049 {
  gap: 8px;
  height: 100%;
}

.Pixso-paragraph-2_1050 {
  font-size: 15px;
  font-family: "Noto Sans SC-Bold";
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  white-space: pre;
  flex-grow: 0;
}
