:root, 
[data-collection-2-48-mode="default"] {
  /* Default */
  --font-data: 32px;
  --font-micro: 11px;
  --font-caption: 13px;
  --font-body: 16px;
  --font-h1: 22px;
  --font-display: 28px;
  --font-h3: 15px;
  --font-h2: 17px;
}

:root, 
[data-collection-2-2-mode="light"] {
  /* Light */
  --color-brand-skysoft: rgba(232, 241, 255, 1);
  --color-brand-sky: rgba(77, 150, 255, 1);
  --color-brand-coralsoft: rgba(255, 233, 233, 1);
  --color-brand-coral: rgba(255, 107, 107, 1);
  --color-brand-lemonsoft: rgba(254, 247, 220, 1);
  --color-brand-lemon: rgba(245, 197, 24, 1);
  --color-brand-mintsoft: rgba(228, 248, 246, 1);
  --color-bg-cream: rgba(250, 247, 242, 1);
  --color-text-placeholder: rgba(184, 179, 168, 1);
  --color-bg-card: rgba(255, 255, 255, 1);
  --color-bg-input: rgba(243, 239, 231, 1);
  --color-brand-mint: rgba(78, 205, 196, 1);
  --color-text-secondary: rgba(107, 103, 95, 1);
  --color-text-primary: rgba(45, 42, 38, 1);
  --color-border-base: rgba(236, 230, 220, 1);
  --color-bg-code: rgba(247, 244, 238, 1);
  --color-brand-purplesoft: rgba(239, 234, 254, 1);
  --color-brand-purple: rgba(108, 92, 231, 1);
  --color-brand-purplelight: rgba(169, 155, 245, 1);
}

